= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button.create-action.disable
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.transporters
      = link_to_function I18n.t(:shipping_method, :count => 2).capitalize, "select_all_elements_without_category()"
    #transporter-tree.init-tree

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('shipping_method.create.action').capitalize, :class=>'big-icons create-shipping-method'), new_admin_transporter_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows

= dataTables_tag :url => admin_transporters_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':'#{I18n.t( :status , :count => 2)}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
