.tattribute-type
  %span.small-icons.picklist_option= I18n.t 'picklist_option.field'
.choices
  %h2= I18n.t 'option.value', :count => 2
  %ul.sortable.sortable-choices.grid_10.omega.alpha
    - form.fields_for :option_values  do |option_value|
      %li.block-container
        %span.block-type
          %span.handler
            %span.inner
        %span.block-name
          = option_value.text_field :name
          = option_value.hidden_field :id
          = option_value.hidden_field :_delete, :class => 'delete'
        %span.small-icons.red-delete-icon
        %span.small-icons.green-add-icon
  .clear
