= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.pages
      = link_to I18n.t('tattribute.all').capitalize, admin_options_path
    #product-tree
      %ul
        = render :partial => 'categories', :locals => { :categories => ProductType.all }

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,"text", :class=>'small-icons tattribute-text'),'#', :class=>'backgrounds action-button tattributes first'
    = link_to content_tag(:span,"longtext", :class=>'small-icons tattribute-longtext'),'#', :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,"number", :class=>'small-icons tattribute-number'),'#', :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,"picklist", :class=>'small-icons tattribute-picklist'),'#', :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,"checkbox", :class=>'small-icons tattribute-checkbox'), new_admin_checkbox_option_path( :option => { :type =>'CheckboxOption' } ), :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,"choice", :class=>'small-icons tattribute-choice'),'#', :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,"date", :class=>'small-icons tattribute-date'),'#', :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,"url", :class=>'small-icons tattribute-file'),'#', :class=>'backgrounds action-button tattributes'
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    %thead
      %tr
        %th
        %th
          = I18n.t('name').capitalize
        %th
    %tbody

= dataTables_tag 2, :url => admin_tattributes_path(:format => :json)
