= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.pages
      = link_to_function I18n.t('tattribute.all').capitalize, "select_all_elements('/admin/options.json')"
    #product-tree
      %ul
        = render :partial => 'categories', :locals => { :categories => TattributeCategory.find_all_by_parent_id(nil) }

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t(:text_option, :count => 1), :class=>'small-icons text_option'),new_admin_text_option_path, :class=>'backgrounds action-button tattributes first'
    = link_to content_tag(:span,I18n.t(:longtext_option, :count => 1), :class=>'small-icons longtext_option'),new_admin_longtext_option_path, :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,I18n.t(:number_option, :count => 1), :class=>'small-icons number_option'),new_admin_number_option_path, :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,I18n.t(:picklist_option, :count => 1), :class=>'small-icons picklist_option'),new_admin_picklist_option_path, :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,I18n.t(:checkbox_option, :count => 1), :class=>'small-icons checkbox_option'), new_admin_checkbox_option_path, :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,I18n.t(:radiobutton_option, :count => 1), :class=>'small-icons radiobutton_option'),new_admin_radiobutton_option_path, :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,I18n.t(:date_option, :count => 1), :class=>'small-icons date_option'),new_admin_date_option_path, :class=>'backgrounds action-button tattributes'
    = link_to content_tag(:span,I18n.t(:url_option, :count => 1), :class=>'small-icons url_option'),new_admin_url_option_path, :class=>'backgrounds action-button tattributes'
    .backgrounds.search-form
  .content-background
  %table#table.datatable

= dataTables_tag :url => admin_options_path(:format => :json), :columns => ["{'bSearchable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':'#{I18n.t 'option.access_method'}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
