= render :partial => 'tabs'
#wrap
  .backgrounds.big-header
    %h1= @option.name
    .interact-links
      = link_to I18n.t('tattribute.update.action').capitalize, [:edit, :admin, @option ], :class => 'backgrounds interact-button'
      = I18n.t('or')
      = link_to I18n.t('tattribute.back').capitalize, admin_options_path, :class => 'back-link'
  #content.grid_16.alpha.omega
    .grid_12.alpha
      .inner-content
        - option_type = @option.class.to_s
        .tattribute-type
          %span.small-icons{:class =>  option_type.underscore}= I18n.t "#{option_type.underscore}.field"
        - unless @option.dynamic?
          .choices
            %h2= I18n.t 'option.value', :count => 2
            %ul.sortable.sortable-choices.grid_10.omega.alpha
              - @option.option_values.each do |option_value|
                %li.block-container
                  %span.block-name
                    = option_value.name
            .clear
        - else
          .tattribute-preview
            %h2= I18n.t "#{option_type.underscore}.preview"
            - case option_type
              - when 'TextOption'
                = text_field_tag ''

              - when 'LongtextOption'
                = text_area_tag '', '', :rows => 20, :cols => 70, :class => 'mceEditor'

              - when 'DateOption'
                = text_field_tag :date_option_preview

              - when 'UrlOption'
                = text_field_tag :url_option_preview

              - when 'NumberOption'
                = text_field_tag :number_option_preview

    #right-sidebar.grid_4.omega
      - unless @option.new_record?
        .step
          = link_to I18n.t('tattribute.duplicate.action'), duplicate_admin_option_path(@option), :class => 'small-icons duplicate'
          = link_to I18n.t('tattribute.destroy.action').capitalize, [:admin, @option], :confirm => I18n.t('option.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
      .step
        = I18n.t('tattribute.name')
        = @option.access_method
