%h1
  = I18n.t('price_cuts').capitalize
- content_for :tools, link_to('Create a special offer', new_admin_special_offer_path, :class => 'add')
#price_cuts_list
  %table#table
    %thead
      %tr
        %th
          Name
        %th
          Description
        %th
          = I18n.t('action', :count => 2).capitalize
    %tbody
      - @special_offers.each do |s|
        %tr
          %td
            = s.name
          %td
            = s.description
          %td
            = link_to I18n.t('show').capitalize, admin_special_offer_path(s)
            \-
            = link_to I18n.t('edit').capitalize, edit_admin_special_offer_path(s)
            \-
            = link_to I18n.t('destroy').capitalize, admin_special_offer_path(s), :method => 'delete', :confirm => I18n.t('price_cut.destroy.confirm')

= dataTables_tag(3)
