.backgrounds.big-header
  %h1= @special_offer.name
  .interact-links
    = link_to I18n.t('back_to_special_offer').capitalize, [forgeos_commerce, :admin, :special_offers], :class => 'backgrounds interact-button'
    /= I18n.t('or')
    /= link_to I18n.t('back_to_special_offer').capitalize,admin_special_offers_path, :class => 'back-link'

#content.grid_16.alpha.omega
  .special_offers.grid_12.alpha.omega
    .grid_8.omega
      .description= @special_offer.description
      .description= "#{I18n.t('offer_used', :count => @special_offer.use).capitalize}"
    .inner-content

      .specialOffers_products
        .specialOffers_products_header
          = "#{I18n.t('apply', :count => @selected_products.size).capitalize}"
        #specialOffers_products_table
          .thead
            .tr
              .th
          .tbody
            -@selected_products.each do |product|
              -product = Product.find_by_id(product, :joins => :translations, :select => 'name, products.id')
              .tr
                .td
                  =image_tag(product.pictures.first.public_filename(:thumb)) unless product.pictures.empty?
                  =link_to product.name, [forgeos_commerce, :admin, product]
