%h1
  Shipping Rules
- content_for :tools, link_to('Create a shipping rule', new_admin_shipping_rule_path, :class => 'add')
#shipping_rules_list
  %table#table
    %thead
      %tr
        %th
          = I18n.t('name').capitalize
        %th
          = I18n.t('description').capitalize
        %th
          = I18n.t('action', :count => 2).capitalize
    %tbody
      - @shipping_rules.each do |s|
        %tr
          %td
            = s.name
          %td
            = s.description
          %td
            = link_to I18n.t('edit').capitalize, edit_admin_shipping_rule_path(s)
            \-
            = link_to I18n.t('destroy').capitalize, admin_shipping_rule_path(s), :method => 'delete', :confirm => 'Delete this shipping rule?'

= dataTables_tag(3)
