<% form_tag session_path do -%>
  <p><label for="email"><%=t 'E-mail' %></label><br/>
  <%= text_field_tag 'email' %></p>

  <p><label for="password"><%=t 'Password' %></label><br/>
  <%= password_field_tag 'password' %></p>

  <p><label for="remember_me"><%=t 'Remember me' %> :</label>
  <%= check_box_tag 'remember_me' %></p>

  <p><%= submit_tag I18n.t('Log in') %></p>
<% end -%>
