.before_breadcrumbs
.breadcrumbs
  .inner-breadcrumbs
    =link_to 'Accueil', '/'
    >
    Mon panier

.inner-content
  .product-list
    = step_order(1)
  .cart-step-content
    - unless @cart.is_empty?
      /= display_cart(@cart)
      - if @cart.is_empty?
        Il n'y a aucun produit dans votre panier !
      - else
        %table.products_in_cart
          %thead
            %tr
              %th
                Nom du product
              %th
                Prix unitaire
              %th
                Quantité
              %th
                Prix total
          %tbody
            -@cart.carts_products.group_by(&:product_id).each do |cart_product|
            -product = cart_product[1].first.product
            -nb = cart_product[1].count
              %tr
                %td
                  =product.name
                %td
                  =product.price
                  €
                %td
                  =nb
                %td
                  =nb*product.price
                  €
      .total-div
        -@cart.carts_products.each do |carts_product|
          -unless carts_product.product.promo.nil?
            %span.total-label
              ="Promo #{carts_product.product.name} #{carts_product.product.promo}"
            %span.total-price
              ="#{carts_product.product.new_price} €"
        -@free_product_ids.each do |product_id|
          -product = Product.find_by_id(product_id)
          %span.total-label
            ="Free product : #{product.name}"
          %span.total-price
            Free
        - if @cart.special_offer_discount
          %span.total-label
            Offre spécial
          %span.total-price
            = @cart.special_offer_discount
        %span.total-label.last
          Prix total
        %span.total-price.last#cart_total
          ="#{@cart.total} €"
      .clear
      #voucher_message
        - if @cart.voucher
          -voucher = VoucherRule.find_by_id(@cart.voucher)
          = "With voucher code #{voucher.code} : #{voucher.name}" unless voucher.nil?
      = display_voucher
      .link_order
        = link_to I18n.t('make_order').capitalize, :controller => 'order', :action => 'new'
        = link_to 'poursuivre ma commande'.capitalize, :back
      .clear
      .link_empty
        = "or" + link_to_cart_empty
      .clear
  .clear
  - unless @cross_selling_products.empty?
    .cross-selling
      %h2
        Nous vous proposons de compléter votre panier avec :
      %ul.cross-sells
        -@cross_selling_products.each do |product|
          %li
            %a{ :href => "/product/#{product.url}" }
              - picture = product.pictures.first
              - if picture
                = image_tag(picture.public_filename(:normal))
              - else
                %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }
              %span= truncate(product.name,15,' ...')
              %span.price= "#{product.price} #{$currency.html}"
