= display_standard_flashes
- content_for :tools, link_to(I18n.t('list').capitalize, admin_shipping_methods_path, :class => 'house' )

#tabs
  %ul
    %li
      %a{ :href => "#tabs-1" }
        = I18n.t('information', :count=>2).capitalize
    %li
      %a{ :href => "#tabs-2" }
        = I18n.t('media.other').capitalize
  #tabs-1
    %fieldset
      %legend
        = link_to_effect_toggle(I18n.t('attribute', :count=>2).capitalize, 'static_attributes')
      - form_for [:admin, shipping_method], :html => { :id => 'static_attributes' } do |f|
        %p
          %b
            = f.label :name, I18n.t('name').capitalize
            \:
          = f.text_field :name
        %p
          %b
            = f.label :description, I18n.t('description').capitalize
            \:
          = f.text_area :description
        = f.submit I18n.t('save').capitalize
    %fieldset
      %legend
        = link_to_effect_toggle(I18n.t('shipping_method_detail', :count=>2).capitalize,'details')
      #details
        = render :partial => 'list_details', :locals => { :shipping_method => shipping_method }
    = hide_html_elements_onload %w[details static_attributes]
  #tabs-2
    #shipping_method_medias
      = link_to_unless shipping_method.new_record?,I18n.t('media.create.action').capitalize, new_admin_media_path(:target => 'shipping_method', :target_id => shipping_method.id), :class => 'add'
      #list_medias
        = render :partial => 'admin/medias/list', :locals => { :medias => shipping_method.attachments, :target => 'shipping_method', :target_id => shipping_method.id, :remote => true }

= javascript_tag "$(function(){ $('#tabs').tabs(); })"
