<%= display_standard_flashes %>
<fieldset>
  <legend><%= link_to_effect_toggle('Attributes','static_attributes') %></legend>
  <% form_for :shipping_method, shipping_method,
    :url => (shipping_method.id.nil? ? admin_shipping_methods_path : admin_shipping_method_path(shipping_method)),
    :html => { :method => (shipping_method.id.nil? ? :post : :put), :id => 'static_attributes' } do |f| %>
    <p><b><%= f.label :name %> : </b><%= f.text_field :name %></p>
    <p><b><%= f.label :description %> : </b><%= f.text_area :description %></p>
    <%= f.submit 'Save' %>
  <% end %>
</fieldset>

<fieldset>
  <legend><%= link_to_effect_toggle('Details','details') %></legend>
  <div id="details">
    <%= render :partial => 'list_details', :locals => { :shipping_method => shipping_method } %>
  </div>
</fieldset>
<%= hide_html_elements_onload %w[details static_attributes] %>
<% @content_for_tools << link_to('list', admin_shipping_methods_path, :class => 'house' )%>
