<%= display_standard_flashes %>
<% form_for :shipping_method_detail do |f| %>
  <p><b><%= f.label :name, I18n.t('name').capitalize %> : </b><%= f.text_field :name %></p>
  <p><b><%= f.label :price, I18n.t('price', :count => 1).capitalize %> : </b><%= f.text_field :price %></p>
  <p><b><%= f.label :weight_min, I18n.t('weight_min').capitalize %> : </b><%= f.text_field :weight_min %></p>
  <p><b><%= f.label :weight_max, I18n.t('weight_max').capitalize %> : </b><%= f.text_field :weight_max %></p>
  <%= hidden_field_tag :detail_id, shipping_method_detail.id %>
  <%= f.submit I18n.t('save').capitalize %>
<% end %>
<% content_for :tools do %>
  <%= link_to(I18n.t('shipping_method.update.action').capitalize, 
    edit_admin_shipping_method_path(shipping_method_detail.shipping_method), :class => 'manage' ) %>
<% end %>
