<%= display_standard_flashes %>
<table>
  <thead>
    <th><%= I18n.t('name').capitalize %></th>
    <th><%= I18n.t('description').capitalize %></th>
    <th><%= I18n.t('action', :count=>2).capitalize %></th>
  </thead>
  <tbody>
    <% shipping_methods.each do |shipping_method| %>
      <tr>
        <td><%= shipping_method.name %></td>
        <td><%= shipping_method.description %></td>
        <td>
          <%= link_to I18n.t('show').capitalize, admin_shipping_method_path(shipping_method) %> -
          <%= link_to I18n.t('edit').capitalize, edit_admin_shipping_method_path(shipping_method) %> -
          <%= link_to_remote I18n.t('destroy').capitalize, :url => admin_shipping_method_path(shipping_method), :update => 'shipping_methods', :method => 'delete', :confirm => I18n.t('shipping_method.destroy.confirm').capitalize %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% content_for :tools do %>
  <%= link_to(I18n.t('shipping_method.create.action').capitalize, new_admin_shipping_method_path, :class => 'add') %>
<% end %>
