<h1><%= I18n.t('shipping_method', :count => 1).humanize %></h1>
<p><b><%= I18n.t('name').humanize %> : </b><%= @shipping_method.name %></p>
<p><b><%= I18n.t('description').humanize %> : </b><%= @shipping_method.description %></p>

<fieldset>
  <legend><%= link_to_effect_toggle(I18n.t('shipping_method_detail', :count=>2).humanize,'details') %></legend>
  <div id="details">
    <%= render :partial => 'list_details', :locals => { :shipping_method => @shipping_method } %>
  </div>
</fieldset>
