= form_for [forgeos_commerce, :admin , product_type], :html => { :id => 'wrap' , "data-object_name" => product_type.class.model_name.singular} do |f|
  .backgrounds.big-header
    = f.text_field :name, :class => 'field_name'
    = Forgeos_save_buttons [forgeos_commerce, :admin, :product_types]

  #content.grid_12.alpha.omega
    .inner-content
      .fieldset.open
        %h2= t(:attribute,:count=>2)
        .option-panel-content
          = hidden_field_tag 'product_type[product_attribute_ids][]'
          #product-types-selected-tree.jstree-drop
            %ul
              %li
                = link_to t('drag_attributes').capitalize, '#'
                %ul
                  - product_type.product_attributes.each do |attribute|
                    %li{ :id => "attribute_#{attribute.id}", :rel => 'attribute' }
                      = hidden_field_tag 'product_type[product_attribute_ids][]', attribute.id, :id => "product_type_product_attribute_ids_#{attribute.id}"
                      = link_to '#' do
                        = attribute.name
                        %em.small-icons.edit-link{ :onclick => "window.open('#{url_for [forgeos_commerce, :edit, :admin, attribute]}'); return false;" }
                        %span.big-icons.gray-destroy-attribute.gray-destroy
          .clear
      %h2.permalink
        = t('permalink').capitalize
        \:
        = seo_product_type_path(ProductType.new(:url=>''))
        = f.text_field :url
      .clear
      = f.label :description, t('description').capitalize
      %div{ :style => 'clear: left;'}
        = f.text_area :description, :cols => 80, :class => 'mceEditor'
  #yellow-sidebar.grid_4.alpha.omega.yellow
    #product-types-all-tree.jstree-drop
      %ul
        - Attribute.all.each do |attribute|
          - unless attribute.product_types.include? @product_type
            %li{ :rel => 'attribute', :id => "attribute_#{attribute.id}" }
              = link_to '#' do
                = attribute.name.html_safe
                %em.small-icons.edit-link{ :onclick => "window.open('#{url_for [forgeos_commerce, :edit, :admin, attribute]}'); return false;" }
                %span.big-icons.gray-destroy-attribute.gray-destroy
    .clear
      = link_to t('attribute.create.action').capitalize, [forgeos_commerce, :admin, :attributes], :class => 'small-icons small-icons-verti-small-blue-plus attribute-new'
  .clear
