- form_for [:admin , product_type], :html => { :id => 'wrap' } do |f|
  .backgrounds.big-header
    = f.text_field :name
    .interact-links
      = fg_submit_tag 'save_changes'
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_product_types_path, :class => 'back-link'

  #content.grid_12.alpha.omega
    .grid_12.alpha
      #product-types-selected-tree.a-tree
        %ul
          - product_type.tattributes.each do |tattribute|
            %li{ :rel => 'attribute' }
              %a{ :href => '#' }
                = tattribute.name
                %span.big-icons.gray-destroy
                  &nbsp;
        .clear
  #yellow-sidebar.grid_4.alpha.omega.yellow
    #product-types-all-tree.a-tree
      %ul
        = render :partial => 'admin/categories/list_tattributes', :locals => { :categories => TattributeCategory.find_all_by_parent_id(nil) }
      .clear
    %a.small-icons.small-icons-verti-small-blue-plus.attribute-new{ :href => '#' }
      Create Attribute
  .clear