- form_for [:admin , product_type], :html => { :id => 'wrap' } do |f|
  .backgrounds.big-header
    = f.text_field :name, :class => 'field_name'
    = Forgeos_save_buttons admin_product_types_path

  #content.grid_12.alpha.omega
    .inner-content
      .fieldset.open
        %h2= t('attribute',:count=>2)
        .option-panel-content
          %p= t('drag_attributes').capitalize
          = hidden_field_tag 'product_type[product_attribute_ids][]'
          #product-types-selected-tree.a-tree.init-tree
            %ul
              - product_type.product_attributes.each do |attribute|
                - id = "attribute_#{attribute.id}"
                %li{ :id => id, :rel => 'attribute' }
                  %a{ :href => '#' }
                    = hidden_field_tag 'product_type[product_attribute_ids][]', attribute.id, :id => "product_type_product_attribute_ids_#{attribute.id}"
                    = attribute.name
                    %span.big-icons.gray-destroy-attribute.gray-destroy
                      &nbsp;
            .clear
      %h2.permalink
        = t('permalink').capitalize
        \:
        = seo_product_type_path(ProductType.new(:url=>''))
        = f.text_field :url
      .clear
      = f.label :description, t('description').capitalize
      %div{ :style => 'clear: left;'}
        = f.text_area :description, :cols => 80, :class => 'mceEditor'
  #yellow-sidebar.grid_4.alpha.omega.yellow
    #product-types-all-tree.init-tree.a-tree
      %ul
        - Attribute.all(:include => :attribute_categories, :conditions => { :categories => { :id => nil }}).each do |orphan_attribute|
          - unless orphan_attribute.product_types.include? @product_type
            %li{ :rel => 'attribute', :id => "attribute_#{orphan_attribute.id}" }
              = link_to((orphan_attribute.name + content_tag(:span, '&nbsp;', :class => 'big-icons gray-destroy-attribute gray-destroy')), '#')
    .clear
    = link_to t('attribute.create.action').capitalize, admin_attributes_path, :class => 'small-icons small-icons-verti-small-blue-plus attribute-new'
  .clear
