- form_for [:admin , product_type], :html => { :id => 'wrap' } do |f|
  .backgrounds.big-header
    = f.text_field :name
    .interact-links
      = fg_submit_tag 'save_changes'
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_product_types_path, :class => 'back-link'

  #content.grid_12.alpha.omega
    .grid_12.alpha
      #product-types-selected-tree.a-tree
        = I18n.t('drag_attributes').capitalize
        = hidden_field_tag 'product_type[option_ids][]'
        %ul
          - product_type.options.each do |option|
            - id = "option_#{option.id}"
            %li{ :id => id, :rel => 'attribute' }
              %a{ :href => '#' }
                = hidden_field_tag 'product_type[option_ids][]', option.id, :id => "product_type_option_ids_#{option.id}"
                = option.name
                %span.big-icons.gray-destroy
                  &nbsp;
        .clear
  #yellow-sidebar.grid_4.alpha.omega.yellow
    #product-types-all-tree.init-tree.a-tree
      %ul
        = render :partial => 'options_categories', :locals => { :categories => TattributeCategory.find_all_by_parent_id(nil) }
        - Tattribute.all(:include => :tattribute_categories, :conditions => { :categories => { :id => nil }}).each do |orphan_option|
          - unless orphan_option.product_types.include? @product_type
            %li{ :rel => 'attribute', :id => "option_#{orphan_option.id}" }
              = link_to((orphan_option.name + content_tag(:span, '&nbsp;', :class => 'big-icons gray-destroy-tattribute')), '#') 
      .clear
    = link_to I18n.t('tattribute.create.action').capitalize, admin_options_path, :class => 'small-icons small-icons-verti-small-blue-plus attribute-new'
  .clear
