- unless defined?(level)
  - level = 0

- unless categories.nil? or categories.blank?
  - categories.each do |category|
    %li{ :rel => 'attribute-category', :id => "attribute_category_#{category.id}" }
      = link_to((category.name + content_tag(:span, '&nbsp;', :class => 'big-icons gray-destroy')), '#')
      - unless category.tattributes.empty?
        %ul
          - category.options.each do |option|
            - unless option.product_types.include? @product_type
              %li{ :rel => 'attribute', :id => "option_#{option.id}" }
                = link_to((option.name + content_tag(:span, '&nbsp;', :class => 'big-icons gray-destroy-tattribute')), '#')
        - unless category.children.empty?
          %ul
            - category.children.each do |child|
              - unless child.options.empty?
                = render :partial => 'categories', :locals => { :categories => [child], :level => (level + 1) }

