- unless defined?(level)
  - level = 0

- unless categories.nil? or categories.blank?
  - categories.each do |category|
    %li{ :rel => 'attribute-category', :id => "category_#{category.id}" }
      = link_to((category.name + content_tag(:span, '&nbsp;', :class => 'big-icons gray-destroy')), '#')
      - unless category.elements.empty?
        %ul
          - category.elements.each do |attribute|
            - unless attribute.product_types.include? @product_type
              %li{ :rel => 'attribute', :id => "attribute_#{attribute.id}" }
                = link_to((attribute.name + content_tag(:span, '&nbsp;', :class => 'big-icons gray-destroy-attribute')), '#')
        - unless category.children.empty?
          %ul
            - category.children.each do |child|
              - unless child.attribute.empty?
                = render :partial => 'categories', :locals => { :categories => [child], :level => (level + 1) }

