= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %a.backgrounds.action-button{ :href => '#' }
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h5.small-icons.product-type
      = link_to I18n.t('product_type.all').capitalize, admin_product_types_path
    #product-tree
      %ul
        = render :partial => 'admin/categories/list', :locals => { :categories => ProductCategory.find_all_by_parent_id(nil) }

#content.grid_12.alpha.omega
  .backgrounds.header
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    %thead
      %tr
        %th
        %th
          = I18n.t('name').capitalize
    %tbody

= dataTables_tag 2, :url => admin_product_types_path(:format => :json)
