= render :partial => 'tabs'
#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button.create-action
      %span.big-icons.new-category
      %span.small-icons.arrow
      %span.create-list
        %span.big-icons.create-folder
          = I18n.t('folder.create')
        -#%span.small-icons.create-smart-folder
          -#= I18n.t('folder.smart')
    %span.backgrounds.action-button.update-action
      %span.small-icons.more-actions
      %span.small-icons.arrow
      %span.update-list
        %span.small-icons.modify-folder
          = I18n.t('folder.edit')
        %span.small-icons.duplicate-folder
          = I18n.t('folder.duplicate')
        %span.small-icons.delete-folder
          = I18n.t('folder.destroy')
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.product-types
      = link_to_function I18n.t('product_type.all').capitalize, "select_all_elements_without_category()"
    #product-type-tree.init-tree.category-tree

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('product_type.create.action').capitalize, :class=>'big-icons create-product-type'), new_admin_product_type_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows

= dataTables_tag :url => admin_product_types_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':'#{I18n.t :product, :count => 2}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
