= render :partial => 'tabs'
#wrap
  .backgrounds.big-header
    %h1= @product_type.name
    .interact-links
      = link_to I18n.t('product_type.update.action').capitalize, [:edit, :admin, @product_type ], :class => 'backgrounds interact-button'
      = I18n.t('or')
      = link_to I18n.t('product_type.back').capitalize, admin_product_types_path, :class => 'back-link'

  #content.grid_12.alpha.omega
    .grid_12.alpha
      #product-types-options-tree.a-tree.init-tree
        = I18n.t('tattribute', :count => 2).capitalize
        %ul
          - @product_type.product_attributes.each do |attribute|
            - id = "attribute_#{attribute.id}"
            %li{ :id => id, :rel => 'attribute' }
              %a{ :href => '#' }
                = attribute.name
        .clear
  .clear

