= form_for [forgeos_commerce, :admin , brand], :html => { :id => 'wrap' } do |f|
  .backgrounds.big-header
    = f.text_field :name, :class => 'field_name'
    = Forgeos_save_buttons [forgeos_commerce, :admin, :brands]
  #content.grid_16.alpha.omega
    .grid_12.omega
      = display_visual(f.object_name, brand.picture)
      %br
      = f.label :description
      = f.text_area :description, :class => 'mceEditor'

    #right-sidebar.grid_4.omega
      .step
        = f.label :code
        = f.text_field :code, :size => 25
        %br
        - if respond_to?(:brand_url)
          = brand_url(Brand.new(:url => '', :name => ''))
        - else
          = url_for(:controller => '/brands', :action => 'index', :only_path => false, :trailing_slash => true)
        = f.text_field :url, :size => 10
      .step.open
        = link_to(t('product.associated_collection', :count => 2), '#', :class => 'small-icons step-title')
        = hidden_field_tag "#{f.object_name}[category_ids][]"
        #association-brand-tree.inner-step
          %ul
            = render :partial => 'admin/categories/associated_elements', :locals => { :association_id => 'category_ids', :element => f.object, :category_ids => f.object.category_ids, :categories => BrandCategory.roots }

  = render :partial => 'admin/visual/visual_popup.html.haml', :locals => {:form => f}
