- form_for [:admin , brand], :html => { :id => 'wrap' } do |f|
  .backgrounds.big-header
    = f.text_field :name, :class => 'field_name'
    = Forgeos_save_buttons admin_brands_path
  #content.grid_16.alpha.omega
    .grid_12.omega
      = display_visual(f.object_name, brand.picture)
      %br
      = f.label :description
      = f.text_area :description, :class => 'mceEditor'

    #right-sidebar.grid_4.omega
      .step
        = f.label :code
        = f.text_field :code, :size => 25
        %br
        - if respond_to?(:brand_path)
          = brand_path(Brand.new(:url => '', :name => ''))
        - else
          = "#{request.protocol}#{request.host}/marques/"
        = f.text_field :url, :size => 10
  = render :partial => 'admin/visual/visual_popup.html.haml', :locals => {:form => f}
