%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
  %li.ui-state-default.ui-corner-top= link_to I18n.t('product_type', :count => 2).capitalize, [forgeos_commerce, :admin, :product_types]
  %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to I18n.t('brand.other').capitalize,'#content' 
  %li.ui-state-default.ui-corner-top= link_to I18n.t('attribute', :count => 2).capitalize, [forgeos_commerce, :admin, :attributes]
  %li.ui-state-default.ui-corner-top= link_to I18n.t('graphic_template', :count => 2).capitalize, ''
  %li.ui-state-default.ui-corner-top= link_to "Formulaires", [forgeos_commerce, :admin, :forms]
