= render :partial => 'tabs'
= render :partial => 'admin/sidebars/left_sidebar', :locals => { :icon_class => 'brands', :sidebar_title => 'brand.all', :tree_id =>'brand-tree' }

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('brand.create.action').capitalize, :class=>'big-icons create-brand'), new_admin_brand_path, :class=>'backgrounds action-button'
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows



= dataTables_tag :url => admin_brands_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :name}'}", "{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
