<%= display_standard_flashes %>
<%= link_to_remote I18n.t('comment.create.action').capitalize, 
    :url => { :controller => 'pictures', :action => 'create_comment', :id => @picture.id },
    :update => 'comment_add', :method => 'get', :complete => "$('comments').show()", :html => { :class => 'add' } %>
<ul class="comment_list">
<% comments.each do |comment| %>
  <li>
    from <%= comment.user.fullname if comment.user %> the <%= comment.created_at.to_s(:long) %> | <%= comment.comment %>
    <%= link_to_remote(I18n.t('destroy').capitalize, :url => {:action => 'destroy_comment', :comment_id => comment.id, :id => comment.commentable_id }, :update => 'comments', :confirm => I18n.t('comment.destroy.confirm').capitalize) %>
  </li>
<% end %>
</ul>
<div id="comment_add"></div>
