<h1><%= I18n.t('picture', :count => 2).capitalize %></h1>
<% content_for :tools do %>
  <%= link_to(I18n.t('picture.create.action').capitalize, new_admin_picture_path, :class => 'add' ) %>
<% end %>
<div id="list_pictures">
<table id="table">
  <thead>
    <tr>
      <th><%= I18n.t('thumbnail', :count =>1).capitalize %></th>
      <th><%= I18n.t('content_type').capitalize %></th>
      <th><%= I18n.t('tag', :count => 2).capitalize %></th>
      <th><%= I18n.t('action', :count=>2).capitalize %></th>
    </tr>
  <thead>
  <tbody>
<% @pictures.each do |picture| %>
    <tr>
      <td><%= image_tag picture.public_filename(:small) %></td>
      <td><%= picture.content_type %></td>
      <td id="tags_for_<%= picture.id %>">
        <% tags = [] %>
        <% picture.tag_list.each do |tag| %>
          <% tags << link_to_remote(tag, :url => admin_tag_path(picture, :type => picture.class, :tag => tag), :method => 'delete', :confirm => I18n.t('tag.destroy.confirm'), :update => "tags_for_#{picture.id}")%>
        <% end %>
        <%= tags.join(',') %>
        <%= link_to_remote'',:url => { :controller => 'admin/tags', :action => 'selector', :id => picture.id, :type => picture.class},:method => :get, :update => "tags_for_#{picture.id}", :html => { :class => 'icon addorder'} %>
      </td>
      <td>
        <%= link_to I18n.t('show').capitalize, admin_picture_path(picture) %> -
        <%= link_to_remote I18n.t('destroy').capitalize, :url => admin_picture_path(picture), :confirm => I18n.t('picture.destroy.confirm'), :method => 'delete' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</div>
<%= javascript_tag "$( oTable = $('#table').dataTable({
        'aoColumns': [
            null,
            null,
            null,
            { 'bSearchable': false, 'bSortable': false }
        ],
        'oLanguage': { 
        'sProcessing':'#{I18n.t('jquery.dataTables.oLanguage.sProcessing')}',
        'sLengthMenu':'#{I18n.t('jquery.dataTables.oLanguage.sLengthMenu')}',
        'sZeroRecords':'#{I18n.t('jquery.dataTables.oLanguage.sZeroRecords')}',
        'sInfo':'#{I18n.t('jquery.dataTables.oLanguage.sInfo')}',
        'sInfoEmpty':'#{I18n.t('jquery.dataTables.oLanguage.sInfoEmpty')}',
        'sSearch':'#{I18n.t('jquery.dataTables.oLanguage.sSearch')}' }
    }))" %>
