<h1><%= I18n.t('picture.show.action').capitalize %></h1>
<p>
<b><%= I18n.t('filename').capitalize %> :</b>
  <%= @picture.filename %>
</p>

<p>
<b><%= I18n.t('content_type').capitalize %> :</b>
  <%= @picture.content_type %>
</p>

<% thumbnail_names = %w[big normal small thumb] #@picture.attachment_options[:thumbnails].keys %>
<fieldset>
  <legend><%= link_to_effect_toggle(I18n.t('thumbnail', :count => 2).capitalize,'thumbnails',:toggle_slide) %></legend>
  <table id="thumbnails">
    <% thumbnail_names.each do |thumb| %>
    <tr>
    <td>
      <%= image_tag @picture.public_filename(thumb) %>
    </td>
    <td><%= thumb %></td>
    </tr>
    <% end %>
  </table>
</fieldset>

<fieldset>
  <legend><%= link_to_effect_toggle(I18n.t('associated_element', :count => 2).capitalize,'associated_elements') %></legend>
  <ul class="no-list-style-type" id="associated_elements">
    <% products = @picture.sortable_pictures.collect{ |sp| sp.picturable if sp.picturable.kind_of?(Product)}.compact
    unless products && products.empty?%>
      <li>
      <h3><%= I18n.t('product', :count => 2).capitalize %> : </h3>
        <ul class="no-list-style-type">
        <% products.each do |product| %>
          <li><%= link_to product.name, edit_admin_product_path(product) %></li>
        <% end %>
        </ul>
      </li>
    <% end %>

    <% attributes_groups = @picture.sortable_pictures.collect{ |sp| sp.picturable if sp.picturable.kind_of?(AttributesGroup)}.compact
    unless attributes_groups && attributes_groups.empty? %>
      <li>
      <h3><%= I18n.t('attributes_group', :count => 2).capitalize %> : </h3>
        <ul class="no-list-style-type">
        <% attributes_groups.each do |attributes_group| %>
          <li><%= link_to(attributes_group.name, :controller => 'attributes_groups', :action => 'edit', :id => attributes_group.id) %></li>
        <% end %>
        </ul>
      </li>
    <% end %>

    <% tattributes = @picture.sortable_pictures.collect{ |sp| sp.picturable if sp.picturable.kind_of?(Attribute)}.compact
    unless tattributes && tattributes.empty? %>
      <li>
      <h3><%= I18n.t('attribute', :count => 2).capitalize %> : </h3>
        <ul class="no-list-style-type">
        <% tattributes.each do |tattribute| %>
          <li><%= link_to(tattribute.name, :controller => 'attributes_groups', :action => 'edit_attribute', :id => tattribute.id) %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
    <% categories = @picture.sortable_pictures.collect{ |sp| sp.picturable if sp.picturable.kind_of?(Category)}.compact
    unless categories && categories.empty? %>
      <li>
      <h3><%= I18n.t('category', :count => 2).capitalize %> : </h3>
        <ul class="no-list-style-type">
        <% categories.each do |category| %>
          <li><%= link_to category.name, edit_admin_category_path(category) %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
</fieldset>

<fieldset>
  <legend>
    <%= link_to_effect_toggle(I18n.t('comment', :count => 2).capitalize ,'comments') %> |
    <%= link_to_remote I18n.t('comment.create.action').capitalize, 
    :url => { :controller => 'pictures', :action => 'create_comment', :id => @picture.id },
    :update => 'comment_add', :method => 'get', :complete => "$('comments').show()" %>
  </legend>
  <div id="comments">
    <%= render :partial => 'list_comments', :locals => { :comments => @picture.comments } %>
  </div>
</fieldset>

<%= hide_html_elements_onload %w[comments thumbnails associated_elements] %>
<% @content_for_tools << link_to(I18n.t('back').capitalize, :back) %>
