= display_standard_flashes
%fieldset
  %legend
    = link_to_effect_toggle(I18n.t('attribute', :count => 2).capitalize,'static_attributes')
  - form_for [:admin, order], :html => { :id => 'static_attributes' } do |f|
    %p
      %b
        = f.label :user_id, I18n.t('user', :count => 1).capitalize
        \:
      = f.collection_select :user_id, User.find_all_by_activation_code(nil), :id, :fullname, { :prompt => I18n.t('please_select').capitalize }
    %p
      %b
        = f.label :voucher, I18n.t('voucher',:count=>1).capitalize
        \:
      = f.collection_select :voucher, Voucher.all, :value, :name, { :prompt => I18n.t('please_select').capitalize }
    %p
      %b
        = f.label :shipping_method, I18n.t('shipping_method',:count=>1).capitalize
        \:
      = f.collection_select :shipping_method, ShippingMethod.all, :name, :name, { :prompt => I18n.t('please_select').capitalize }
    %p
      %b
        = f.label :shipping_method_price, I18n.t('shipping_method_price',:count=>1).capitalize
        \:
      = f.collection_select :shipping_method_price, ShippingMethodDetail.all, :price, :price, { :prompt => I18n.t('please_select').capitalize }
    - if order.user
      %fieldset{:id => "address_invoice_fieldset"}
        %legend
          = link_to_effect_toggle(I18n.t('address.invoice').capitalize,'address_invoice')
        #address_invoice
          - fields_for order.address_invoice || order.user.address_invoice || AddressInvoice.new do |fa|
            = render :partial => 'admin/addresses/form', :locals => { :f => fa }
      %fieldset{:id => "address_delivery_fieldset"}
        %legend
          = link_to_effect_toggle(I18n.t('address.delivery').capitalize,'address_delivery')
        #address_delivery
          - fields_for order.address_delivery || order.user.address_delivery || AddressDelivery.new do |fb|
            = render :partial => 'admin/addresses/form', :locals => { :f => fb }
    = f.submit I18n.t('save').capitalize

%fieldset
  %legend
    = link_to_effect_toggle(I18n.t('order_detail', :count=>2).capitalize,'orders_details')
  #orders_details
    = render :partial => 'order_details/list', :locals => { :order => order }
= hide_html_elements_onload %w[address_invoice address_delivery static_attributes orders_details]
- content_for :tools, link_to(I18n.t('list').capitalize, admin_orders_path, :class => 'house')
