<%= display_standard_flashes %>
<fieldset>
  <legend><%= link_to_effect_toggle(I18n.t('attribute', :count => 2).capitalize,'static_attributes') %></legend>
  <% form_for :order, order, :url => (order.new_record? ? admin_orders_path : admin_order_path(order)),
    :html => { :id => 'static_attributes', :method => (order.new_record? ? :post : :put) } do |f| %>
      <p><b><%= f.label :user_id, I18n.t('user', :count => 1).capitalize %> : </b><%= f.collection_select :user_id, User.find_all_by_activation_code(nil), :id, :fullname, { :prompt => I18n.t('please_select').capitalize } %></p>
      <p><b><%= f.label :voucher, I18n.t('voucher',:count=>1).capitalize %> : </b><%= f.collection_select :voucher, Voucher.all, :value, :name, { :prompt => I18n.t('please_select').capitalize } %></p>
      <p><b><%= f.label :shipping_method, I18n.t('shipping_method',:count=>1).capitalize %> : </b><%= f.collection_select :shipping_method, ShippingMethod.all, :name, :name, { :prompt => I18n.t('please_select').capitalize } %></p>
      <p><b><%= f.label :shipping_method_price, I18n.t('shipping_method_price',:count=>1).capitalize %> : </b><%= f.collection_select :shipping_method_price, ShippingMethodDetail.all, :price, :price, { :prompt => I18n.t('please_select').capitalize } %></p>
    <% if order.user %>
    <fieldset>
      <legend><%= link_to_effect_toggle(I18n.t('address_invoice').capitalize,'address_invoice') %></legend>
      <div id="address_invoice">
      <% fields_for order.address_invoice do |fa| %>
        <%= render :partial => 'admin/addresses/form', :locals => { :f => fa } %>
      <% end %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= link_to_effect_toggle(I18n.t('address_delivery').capitalize,'address_delivery') %></legend>
      <div id="address_delivery">
      <% fields_for order.address_delivery do |fb| %>
        <%= render :partial => 'admin/addresses/form', :locals => { :f => fb } %>
      <% end %>
      </div>
    </fieldset>
    <% end %>
    <%= f.submit I18n.t('save').capitalize %>
  <% end %>
</fieldset>

<fieldset>
  <legend><%= link_to_effect_toggle(I18n.t('order_detail', :count=>2).capitalize,'orders_details') %></legend>
  <div id="orders_details">
    <%= render :partial => 'list_details', :locals => { :order => order } %>
  </div>
</fieldset>
<%= hide_html_elements_onload %w[address_invoice address_delivery static_attributes orders_details] %>
<% @content_for_tools << link_to(I18n.t('list').capitalize, admin_orders_path, :class => 'house' )%>
