- form_for [:admin, order], :html => { :id => 'wrap' } do |f|
  .backgrounds.big-header
    %span.order-price= "#{@order.total(true)} #{$currency.html}"
    %span.header-separator
    %span
      = I18n.t('order',:count =>1).capitalize
      n°
      = @order.id
    %span.header-separator
    %span= @order.created_at.to_s(:slashed_fr)
    %span.header-separator
    .interact-links
      .borders.interact-button-left
      = submit_tag I18n.t('save_changes').capitalize, :class => 'backgrounds interact-button'
      .borders.interact-button-right
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_orders_path, :class => 'back-link'

  #content.grid_16.alpha.omega
    #order-see.grid_12.alpha
      .order-see-wrap
        .fieldset
          %h3= I18n.t('order.main_infos')
          .main-infos
            - user = @order.user
            .main-infos-cutomer
              %h4.small-icons= I18n.t('user', :count => 1).capitalize
              = link_to user.fullname, [:admin, user]
              %p= "#{user.orders.count} #{I18n.t('order', :count => user.orders.count)} #{I18n.t('since')} #{user.orders.first.created_at.to_date.to_s(:long)}"
              %p= user.tel1
              %p.customer-email= user.email
            .main-info-separation
            .main-infos-payment
              %h4.small-icons
                Payment method
              %p
                Credit card Mastercard
              %p
                6565-9878-XXXX
              %p.payment-checked
                payment checked
            .main-info-separation
            .main-infos-note
              %h4.small-icons= I18n.t('order.user_note').capitalize
              =# @order.user_note
          .clear
        %table.datatable
          %thead
            %tr
              %th &nbsp;
              %th.product-th= I18n.t('product', :count => 1).capitalize
              %th= I18n.t('sku').capitalize
              %th= I18n.t('price', :count => 1).capitalize
              %th= I18n.t('quantity', :count => 1).capitalize
              %th= I18n.t('order.total').capitalize
              %th.actions &nbsp;
          %tbody
            - f.fields_for :orders_details do |detail_form|
              - detail = detail_form.object
              %tr
                - product = detail.product
                - if product && picture = product.pictures.first
                  %td= image_tag(picture.public_filename(:thumb))
                - else
                  %td= image_tag('admin/no-image.png')
                %td.product-name= detail.name
                %td
                  = detail_form.text_field :sku, :class => 'sku-input'
                %td
                  = detail_form.text_field :price, :class => 'price-input'
                %td
                  -#= @order.orders_details.count('sku',:conditions => { :sku => detail.sku })
                  = 1
                %td.total= "#{detail.total} #{$currency.html}"
                %td
                  = detail_form.hidden_field :id
                  = detail_form.hidden_field :_delete, :class => 'delete'
                  = link_to_function '', "remove_order_detail($(this));", :class => 'small-icons destroy-link'

            -# @order.orders_details.all(:group => 'name').each do |detail|
              %tr
                - product = detail.product
                - if product && picture = product.pictures.first
                  %td= image_tag(picture.public_filename(:thumb))
                - else
                  %td= image_tag('admin/no-image.png')
                %td.product-name= detail.name
                %td= detail.sku
                %td= detail.price
                %td= @order.orders_details.count('sku',:conditions => { :sku => detail.sku })
                %td.total= detail.total
                %td
                  = link_to '', '#', :class => "small-icons destroy-link"

        .order-totals
          .order-subtotal= I18n.t('order.subtotal').capitalize
          %span.order-subtotal= "#{@order.total(false,true,false,false)} #{$currency.html}"
          - if @order.order_shipping
            %div= I18n.t('shipping').capitalize
            %span= "#{@order.order_shipping.price} #{$currency.html}"
        .order-totals
          %div= I18n.t('special_offer', :count => 2).capitalize
          -# @order.special_offers.each do |offer|
            %div= offer.name
            %span= "- #{offer.total} #{$currency.html}"
        .order-totals
          %div= I18n.t('tax', :count => 2).capitalize
          %span= "#{@order.taxes} #{$currency.html}"
        .order-totals.total-block
          .order-total= I18n.t('order.total').capitalize
          %span.order-total= "#{@order.total(true)} #{$currency.html}"

        .fieldset
          - f.fields_for :address_delivery do |delivery_address_form|
            = link_to I18n.t('address.delivery').capitalize, '#', :class => "small-icons panel"
            .option-panel-content{:style => 'display: block'}
              .address-designation
                = label_tag I18n.t('address.designation').capitalize
                = delivery_address_form.text_field :designation
              .civility-select
                = label_tag I18n.t('civility').capitalize
                = delivery_address_form.collection_select :civility_id, Civility.all, :id, :name, {:prompt => true}
              .street-input
                = label_tag I18n.t('address.one').capitalize
                = delivery_address_form.text_field :address
              .zip-code-input
                = label_tag I18n.t('zip_code').capitalize
                = delivery_address_form.text_field :zip_code
              .town-input
                = label_tag I18n.t('city').capitalize
                = delivery_address_form.text_field :city
              .country-select
                = label_tag I18n.t('country').capitalize
                = delivery_address_form.collection_select :country_id, Country.all, :id, :name, {:prompt => true}
              .clear

        .fieldset
          - f.fields_for :address_invoice do |invoice_address_form|
            = link_to I18n.t('address.invoice').capitalize, "#", :class => "small-icons panel"
            .option-panel-content{:style => 'display: block'}
              -#.different-address-checkbox
                = check_box_tag 'different_address', 'different-address', false, :class => 'different-adress'
                = label_tag 'different_address', 'Different from the delivery adress', :class => 'different-adress'
              .address-designation
                = label_tag I18n.t('address.designation').capitalize
                = invoice_address_form.text_field :designation
              .civility-select
                = label_tag I18n.t('civility').capitalize
                = invoice_address_form.collection_select :civility_id, Civility.all, :id, :name, {:prompt => true}
              .street-input
                = label_tag I18n.t('address.one').capitalize
                = invoice_address_form.text_field :address
              .zip-code-input
                = label_tag I18n.t('zip_code').capitalize
                = invoice_address_form.text_field :zip_code
              .town-input
                = label_tag I18n.t('city').capitalize
                = invoice_address_form.text_field :city
              .country-select
                = label_tag I18n.t('country').capitalize
                = invoice_address_form.collection_select :country_id, Country.all, :id, :name, {:prompt => true}
              .clear

        .fieldset
          - f.fields_for :order_shipping do |order_shipping_form|
            = link_to I18n.t('delivery').capitalize, '#', :class => "small-icons panel"
            .option-panel-content{:style => 'display: block'}
              .delivery-method
                = order_shipping_form.collection_select :name, ShippingMethod.all, :name, :name, { :prompt => I18n.t('please_select').capitalize }
              .street-input
                = label_tag I18n.t('track_number').capitalize
                = order_shipping_form.text_field :track_number
              .clear

    #right-sidebar.grid_4.omega
      .step.status.open
        - order_states_for_select = Order.aasm_states.collect{ |state| [state.name, I18n.t(state.name, :scope => [:order,:status])] }
        = f.select :status, options_for_select(order_states_for_select, order.status)
        .clear
      .step
        = link_to I18n.t('order.invoice.show'), [:bill, :admin, @order], :class => 'small-icons preview'
        = link_to I18n.t('order.destroy.action'), [:admin, @order], :method => :delete, :confirm => I18n.t('order.destroy.confirm'), :class => 'small-icons delete'
      .step.disabled
        %a.small-icons.step-title{ :href => "#" }
          = I18n.t('order.history').capitalize
    .clear



-#.fieldset
  %legend
    = link_to_effect_toggle(I18n.t('attribute', :count => 2).capitalize,'static_attributes')
  - form_for [:admin, order], :html => { :id => 'static_attributes' } do |f|
    %p
      %b
        = f.label :user_id, I18n.t('user', :count => 1).capitalize
        \:
      = f.collection_select :user_id, User.find_all_by_activation_code(nil), :id, :fullname, { :prompt => I18n.t('please_select').capitalize }
    %p
      %b
        = f.label :voucher, I18n.t('voucher',:count=>1).capitalize
        \:
      = f.collection_select :voucher, Voucher.all, :value, :name, { :prompt => I18n.t('please_select').capitalize }
    - f.fields_for :order_shipping do |order_shipping_form|
      %p
        %b
          = order_shipping_form.label :name, I18n.t('shipping_method',:count=>1).capitalize
          \:
        = order_shipping_form.collection_select :name, ShippingMethod.all, :name, :name, { :prompt => I18n.t('please_select').capitalize }
      %p
        %b
          = order_shipping_form.label :price, I18n.t('shipping_method_price',:count=>1).capitalize
          \:
        = order_shipping_form.collection_select :price, ShippingMethodDetail.all, :price, :price, { :prompt => I18n.t('please_select').capitalize }
    - if order.user
      %fieldset{:id => "address_invoice_fieldset"}
        %legend
          = link_to_effect_toggle(I18n.t('address.invoice').capitalize,'address_invoice')
        #address_invoice
          - fields_for order.address_invoice || order.user.address_invoice || AddressInvoice.new do |fa|
            = render :partial => 'admin/addresses/form', :locals => { :f => fa }
      %fieldset{:id => "address_delivery_fieldset"}
        %legend
          = link_to_effect_toggle(I18n.t('address.delivery').capitalize,'address_delivery')
        #address_delivery
          - fields_for order.address_delivery || order.user.address_delivery || AddressDelivery.new do |fb|
            = render :partial => 'admin/addresses/form', :locals => { :f => fb }
    = f.submit I18n.t('save').capitalize

-#.fieldset
  %legend
    = link_to_effect_toggle(I18n.t('order_detail', :count=>2).capitalize,'orders_details')
  #orders_details
    = render :partial => 'admin/order_details/list', :locals => { :order => order }
= hide_html_elements_onload %w[address_invoice address_delivery static_attributes orders_details]
