= display_standard_flashes
%table
  %thead
    %tr
      %th
        = I18n.t('status', :count => 1).capitalize
      %th
        = I18n.t('user', :count => 1).capitalize
      %th
        = I18n.t('shipping_method', :count => 2).capitalize
      %th
        = I18n.t('action', :count => 2).capitalize
  %tbody
    - @orders.each do |order|
      %tr
        %td
          = t order.status
        %td
          = order.user.fullname
        %td
          = order.transporter
        %td
          = link_to(I18n.t('pay').capitalize, :url => [forgeos_commerce, :pay, :admin, order], :update => 'orders', :remote => true ) + ' -' if order.aasm_current_state == :unpaid
          = link_to(I18n.t('accept').capitalize, :url => [forgeos_commerce, :accept, :admin, order], :update => 'orders', :remote => true ) + ' -' if order.aasm_current_state == :paid
          = link_to(I18n.t('send').capitalize, :url => [forgeos_commerce, :sent, :admin, order], :update => 'orders', :remote => true ) + ' -' if order.aasm_current_state == :accepted
          = link_to I18n.t('edit').capitalize, [forgeos_commerce, :edit, :admin, order]
          \-
          = link_to(I18n.t('destroy').capitalize, :url => [forgeos_commerce, :admin, order], :remote => true, :method => :delete, :update => 'orders', :confirm => I18n.t('order.destroy.confirm').capitalize)
- content_for :tools, link_to(I18n.t('order.create.action').capitalize, [forgeos_commerce, :new, :admin, :order], :class => 'add' )
