<%= display_standard_flashes %>
<table>
  <thead>
    <th><%= I18n.t('status', :count => 1).humanize %></th>
    <th><%= I18n.t('user', :count => 1).humanize %></th>
    <th><%= I18n.t('shipping_method', :count => 2).humanize %></th>
    <th><%= I18n.t('action', :count => 2).humanize %></th>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.status %></td>
        <td><%= order.user.fullname %></td>
        <td><%= order.shipping_method %></td>
        <td>
          <%= link_to_remote(I18n.t('pay').humanize, :url => { :controller => 'admin/orders', :action => 'pay', :id => order.id }, :update => 'orders' ) if order.current_state == :unpaid %>
          <%= link_to_remote(I18n.t('accept').humanize, :url => { :controller => 'admin/orders', :action => 'accept', :id => order.id }, :update => 'orders' ) if order.current_state == :paid %>
          <%= link_to_remote(I18n.t('sent').humanize, :url => { :controller => 'admin/orders', :action => 'sent', :id => order.id }, :update => 'orders' ) if order.current_state == :accepted %>

          <%= link_to I18n.t('edit').humanize, edit_admin_order_path(order) %> -
          <%= link_to_remote(I18n.t('destroy').humanize, :url => admin_order_path(order), :method => 'delete',:update => 'orders', :confirm => I18n.t('confirm_delete_order').humanize) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @content_for_tools << link_to(I18n.t('create_order').humanize, new_admin_order_path, :class => 'add' )%>
