#sidebar.grid_4.omega.alpha
  .backgrounds.header
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.orders= link_to_function I18n.t('order.all').capitalize, "select_all_elements_by_url('/admin/orders.json')"
    #orders-tree.a-tree.init-tree
      %ul
        - Order.aasm_states.each do |state|
          - state_name = state.name.to_s
          %li
            = "<span class='colours #{state_name}'></span>"
            = link_to_function "#{I18n.t(state_name, :scope => [:order, :status])}#{content_tag(:span, Order.count(:conditions => { :status => state_name }))}","select_all_elements_by_url('/admin/orders.json?filter=status&status=#{state_name}')"

#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to [forgeos_commerce, :new, :admin, :order], :class=>'backgrounds action-button' do
      %span.big-icons.create-order= I18n.t('order.create.action').capitalize
    = link_to content_tag(:span,'Exportez la liste en csv'), forgeos_commerce.admin_orders_path(:format => 'csv'), :class => 'backgrounds action-button'
    #search.right= fg_search
    .backgrounds.search-form
  .content-background
  %table#table.datatable
      
= dataTables_tag :url => forgeos_commerce.admin_orders_path(:format => :json), :columns => ["{'bSearchable':false, 'bSortable':false}","{'sTitle':'#{I18n.t(:id)}'}","{'sTitle':'#{I18n.t(:total)}'}","{'sTitle':'#{I18n.t(:product, :count => 1)}'}","{'sTitle':'#{I18n.t(:created_on)}'}","{'sTitle':'#{I18n.t(:customer, :count => 1)}'}","{'sTitle':'#{I18n.t(:status, :count => 1)}'}","{'sClass':'actions-td','bSearchable':false, 'bSortable':false}"]
