.backgrounds.big-header
  %span.order-price= price_with_currency @order.total
  %span.header-separator
  %span
    = t('order',:count =>1).capitalize
    n°
    = @order.reference
  %span.header-separator
  %span= @order.created_at.to_s(:format => :default)
  .interact-links
    = link_to t('order.update.action').capitalize, [forgeos_commerce, :edit, :admin, @order], :class => 'backgrounds interact-button'
    = t('or')
    = link_to t('back').capitalize, [forgeos_commerce, :admin, :orders], :class => 'back-link'
#content.grid_16.alpha.omega
  #order-see.grid_12.alpha
    .order-see-wrap
      .fieldset
        %h3= t('order.main_infos')
        .main-infos
          - user = @order.user
          .main-infos-cutomer
            %h4.small-icons= t('user', :count => 1).capitalize
            = link_to h(user.fullname), [forgeos_core, :admin, user]
            %p= "#{user.orders.count} #{t('order', :count => user.orders.count)} #{t('since')} #{user.orders.first.created_at.to_date.to_s(:long)}"
            %p=h user.phone
            %p.customer-email=h user.email
          .main-info-separation
          .main-infos-note
            %h4.small-icons= t('order.user_note').capitalize
        .clear
      %table.datatable
        %thead
          %tr
            %th &nbsp;
            %th.product-th= t('product', :count => 1).capitalize
            %th= t('sku').capitalize
            %th= t('price', :count => 1).capitalize
            %th= t('quantity', :count => 1).capitalize
            %th= t('order.total').capitalize
        %tbody
          - @order.order_details.each do |detail|
            %tr
              - product = detail.product
              - if product && picture = product.pictures.first
                %td= image_tag(picture.public_filename(:thumb))
              - else
                %td= image_tag('admin/no-image.png')
              %td.product-name
                - if product
                  = link_to detail.name, [forgeos_commerce, :admin, detail.product]
                - else
                  = detail.name
              %td= detail.sku
              %td= price_with_currency(detail.price)
              %td= detail.quantity
              %td.total= price_with_currency(detail.total)

      .order-totals
        .order-subtotal= t('order.subtotal').capitalize
        %span.order-subtotal
          = price_with_currency(@order.total(:tax => false, :with_shipping => false, :with_special_offer => false, :with_shipping => false))
        - if @order.order_shipping
          %div= t('shipping').capitalize
          %span.order_shipping= price_with_currency @order.order_shipping.price
      .order-totals
        %div= t('special_offer', :count => 2).capitalize
        %br
        - if @order.special_offer_discount
          %div= t('order.total_discount').capitalize
          %span= "- #{price_with_currency @order.special_offer_discount}"
          %br
        - @order.special_offer_discount_products.each do |product|
          %div= "#{product.name}"
          %span= "- #{price_with_currency product.special_offer_discount_price}"
          %br
        %div= t('voucher', :count => 1).capitalize
        %br
        - if @order.voucher_discount
          %div= t('order.total_discount').capitalize
          %span= "- #{price_with_currency @order.voucher_discount}"
          %br
        - @order.voucher_discount_products.each do |product|
          %div= "#{product.name}"
          %span= "- #{price_with_currency product.voucher_discount_price}"
          %br
      -#.order-totals
        %div= t('tax', :count => 2).capitalize
        %span= "#{@order.taxes} #{current_currency.html}"
      .order-totals.total-block
        .order-total= t('order.total').capitalize
        %span.order-total= price_with_currency @order.total
      .fieldset
        %h3= t('order.delivery')
        .order-delivery
          .order-delivery-adress
            %h4.small-icons= t('address.delivery', :count => 1).capitalize
            %p=h @order.address_delivery.address
            %p
              =h @order.address_delivery.zip_code
              =h @order.address_delivery.city
            %p= @order.address_delivery.country.name
          .main-info-separation
          .order-billing-adress
            %h4.small-icons= t('address.invoice', :count => 1).capitalize
            %p=h @order.address_invoice.address
            %p
              =h @order.address_invoice.zip_code
              =h @order.address_invoice.city
            %p= @order.address_invoice.country.name
          .main-info-separation
          .order-delivery-method
            %h4.small-icons= t('shipping_method', :count => 1).capitalize
            - if @order.order_shipping
              %p= @order.order_shipping.name
              %p= price_with_currency @order.order_shipping.price
              %p= @order.order_shipping.track_number
        .clear
  #right-sidebar.grid_4.omega
    .step.status.open
      %div
        %dl{ :class => "dropdown #{@order.status} disabled"}
          %dt
            %a.dropdown_toggle{ :href => '#'}
              %span= @order.status
      .clear
    .step
      -#= link_to t('order.invoice.show'), [:bill, :admin, @order], :class => 'small-icons preview'
      = content_tag :span, t('order.invoice.show').capitalize, :class => 'small-icons preview disabled'
      = link_to t('order.destroy.action'), [forgeos_commerce, :admin, @order], :method => :delete, :confirm => t('order.destroy.confirm'), :class => 'small-icons delete'
  .clear
