<% address = address || nil %>

<% form_remote_for :address, address, :url => { :controller => 'order', :action => 'create_address', :id => address } do |f| %>
  <%= f.select :type, [[I18n.t('Address delivery'), 'AddressDelivery'], [I18n.t('Address invoice'), 'AddressInvoice']] %><br />
  <div>
    <label><%=t 'Civility' %></label>
    <%= f.collection_select :civility_id, Civility.all, :id, :name, { :prompt => I18n.t('Please select') } %>
  </div>
  <div>
    <label><%=t 'Name' %></label>
    <%= f.text_field :name %>
  </div>
  <div>
    <label><%=t 'Firstname' %></label>
    <%= f.text_field :firstname %>    
  </div>
  <div>
    <label><%=t 'Address' %></label>
    <%= f.text_field :address %>
  </div>
  <div>
    <label><%=t 'Address' %></label>
    <%= f.text_field :address_2 %>
  </div>
  <div>
    <label><%=t 'Zip code' %></label>
    <%= f.text_field :zip_code %>
  </div>
  <div>
    <label><%=t 'City' %></label>
    <%= f.text_field :city %>    
  </div>
  <div>
    <label><%=t 'Country' %></label>
    <%= f.collection_select :country_id, Country.all, :id, :printable_name, { :prompt => I18n.t('Please select') } %>    
  </div>

  <%= submit_tag I18n.t('Add address') %>
<% end %>
<%= link_to_remote(I18n.t('Back'), :url => { :controller => 'order', :action => 'back_addresses' }) %>
