- address = address || nil
- form_remote_for :address, address, :url => { :controller => 'order', :action => 'create_address', :id => address } do |f|
  /%p
  /  %label
  /    = t('type').capitalize
  /  \:
  /  %br
  /  =# f.select :kind, [[t('address.delivery', :count => 1).capitalize, 'AddressDelivery'], [t('address.invoice', :count => 1).capitalize, 'AddressInvoice']]
  %p
    %label
      Designation
    %br
    = f.text_field :designation
  %p
    %label
      = t(:civility, :count => 1).capitalize
    \:
    %br
    = f.select :civility, t('civility.select'), { :prompt => t('please_select').capitalize }
  %p
    %label
      = t('lastname').capitalize
    \:
    %br
    = f.text_field :name
  %p
    %label
      = t('firstname').capitalize
    \:
    %br
    = f.text_field :firstname
  %p
    %label
      = t('address', :count => 1).capitalize
    \:
    %br
    = f.text_field :address
  %p
    %label
      = t('address', :count => 1).capitalize
    \:
    %br
    = f.text_field :address_2
  %p
    %label
      = t('zip_code').capitalize
    \:
    %br
    = f.text_field :zip_code
  %p
    %label
      = t('city').capitalize
    \:
    %br
    = f.text_field :city
  %p
    %label
      = t('country').capitalize
    \:
    %br
    = f.collection_select :country_id, Country.all, :id, :printable_name, { :prompt => t('please_select').capitalize }
  = submit_tag t('save').capitalize, :class=>'submit-button'
.clear
