- form_tag :controller => 'order', :action => 'create' do
  #order_addresses.addresses
    %div.address_block
      %b
        = t('address.invoice', :count => 1).capitalize
      = display_address current_user.address_invoice

    %div.address_block
      %b
        = t('address.delivery', :count => 1).capitalize
      = display_address current_user.address_delivery
      
    .clear
    .add_address
      = link_to_remote('ajouter une adresse', :url => { :controller => 'order', :action => 'add_address' })
  .clear
  %br
  - if current_cart.free_shipping
    = "La livraison est offerte !"
  - else
    = display_transporters
  .clear

  .total-div
    .total-label
      Prix Total du panier
    #transporter_price.total-price
      = number_with_precision(current_cart.total,2)
      = current_currency.html
  .clear
  %br

  = submit_tag t('make_order'), :class=>'submit-button'
.clear
