- form_tag :controller => 'order', :action => 'create' do
  #order_addresses.addresses
    %div.address_block
      %b
        = I18n.t('address.invoice', :count => 1).capitalize
      = display_address current_user.address_invoice

    %div.address_block
      %b
        = I18n.t('address.delivery', :count => 1).capitalize
      = display_address current_user.address_delivery
      
    .clear
    .add_address
      = link_to_remote('ajouter une adresse', :url => { :controller => 'order', :action => 'add_address' })
  .clear
  %br
  = display_transporters
  #order_voucher
    = display_voucher
  .clear

  .total-div
    .total-label
      Prix Total du panier
    #transporter_price.total-price
      ="#{@cart.total} €"
  .total-div
    .total-label.last
      Prix Total avec livraison et voucher
    #order_total_price.total-price.last
      ="#{@cart.total} €"
  .clear
  %br

  = submit_tag I18n.t('make_order'), :class=>'submit-button'
.clear
