- form_tag :controller => 'order', :action => 'create' do
  #order_addresses.addresses
    %div
      %b
        = I18n.t('address.invoice', :count => 1).capitalize
      = display_address current_user.address_invoice

    %div
      %b
        = I18n.t('address.delivery', :count => 1).capitalize
      = display_address current_user.address_delivery
      
    .clear
    %center
      = link_to_remote('ajouter une adresse', :url => { :controller => 'order', :action => 'add_address' })
  .clear
    \&nbsp;
  %br
  = display_shipping_methods
  =# display_voucher
  = display_total
  .clear
  = submit_tag I18n.t('make_order'), :class=>'submit-button'
.clear