.inner-content
  .product-list
    = step_order(2)
  .cart-step-content.informations
    - if logged_in?
      = render :partial => 'users/edit_form'
    - else
      -session[:redirect] = "/order/new"
      #login
        = render :partial => 'sessions/new_form'
      .order-separation
        = I18n.t('or').capitalize
      #signin
        = render :partial => 'users/new_form'
    .clear
- content_for :title, I18n.t(:cart, :count => 1)
