.inner-content
  .product-list
    = step_order(2)
  .cart-step-content.informations
    - if logged_in?
      = render :partial => 'users/edit_form'
    - else
      -session[:redirect] = "/order/new"
      #login
        = render :partial => 'person_sessions/new_form'
      .order-separation
        = t('or').capitalize
      #signin
        = render :partial => 'users/new_form'
    .clear
- content_for :title, t(:cart, :count => 1)
