<%= step_order(2) %>

<% if logged_in? %>
  <%= render :partial => 'users/edit_form' %>
<% else %>
  <div id="login" style="float: left;">
    <%= render :partial => 'sessions/new_form' %>
  </div>
  <div style="height: 200px; width: 100px; float: left;">
    <%= I18n.t('or').humanize %>
  </div>
  <div id="signin" style="float: right;">
    <%= render :partial => 'users/new_form' %>
  </div>
<% end %>
