<%#= error_messages_for :user %>
<% form_for :user, current_user, :url => edit_user_url(current_user, :locale => params[:locale]) do |f| -%>
  <p><label for="lastname"><%=t 'Last Name' %></label><br/>
  <%= f.text_field :lastname %></p>

  <p><label for="fistname"><%=t 'First Name' %></label><br/>
  <%= f.text_field :firstname %></p>

  <p><label for="email">Email</label><br/>
  <%= f.text_field :email %></p>

  <p><%= submit_tag I18n.t('Sign up') %></p>
<% end -%>
