<%#= error_messages_for :user %>
<% form_for :user, current_user, :url => edit_user_url(current_user, :locale => params[:locale]) do |f| -%>
  <p><label for="login"><%= 'Name'.t %></label><br/>
  <%= f.text_field :lastname %></p>

  <p><label for="login"><%= 'Name'.t %></label><br/>
  <%= f.text_field :firstname %></p>

  <p><label for="email">Email</label><br/>
  <%= f.text_field :email %></p>

  <p><%= submit_tag 'Sign up' %></p>
<% end -%>
