- form_for :user, flash[:user], :url => users_path do |f|
  %p
    = f.label :fistname, I18n.t('firstname').capitalize
    %br
    = f.text_field :firstname
  %p
    = f.label :lastname, I18n.t('lastname').capitalize
    %br
    = f.text_field :lastname
  %p
    = f.label :birthday, I18n.t('birthday').capitalize
    %br
    = f.date_select :birthday, :start_year => 1900, :prompt => true
  %p
    = f.label :civility_id, I18n.t('civility').capitalize
    %br
    = f.select :civility_id, Civility.all.collect{ |c| [c.name,c.id] }
  %p
    = f.label :country_id, I18n.t('country').capitalize
    %br
    = f.collection_select :country_id, Country.all, :id, :printable_name,{ :prompt => I18n.t('please_select').capitalize }
  %p
    = f.label :email, I18n.t('email').capitalize
    %br
    = f.text_field :email
  %p
    = f.label :password, I18n.t('password').capitalize
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, I18n.t('password_confirmation').capitalize
    %br
    = f.password_field :password_confirmation
  %p
    = submit_tag I18n.t('sign_up').capitalize
