#tabs
  %ul
    %li
      %a{ :href => "#tabs-1" }
        = I18n.t('my_informations').capitalize
    %li
      %a{ :href => "#tabs-2" }
        = I18n.t('order',:count=>current_user.orders.count).capitalize
    %li
      %a{ :href => "#tabs-3" }
        = I18n.t('address',:count=>2).capitalize
  #tabs-1
    #informations
      = link_to_remote I18n.t('edit').capitalize, :url => edit_user_path(current_user), :update => 'informations', :method => 'get'
      - if current_user.avatar
      %p
        %b
          = I18n.t('avatar').capitalize
          \:
        = image_tag(current_user.avatar.public_filename(:thumb))
      - end
      %p
        %b
          = I18n.t('name').capitalize
          \:
        = current_user.fullname
      %p
        %b
          = I18n.t('email').capitalize
          \:
        = current_user.email
  #tabs-2
    #orders
      = render :partial => 'orders/list', :locals => { :orders => current_user.orders }
  #tabs-3
    = link_to_remote I18n.t('address.create.action').capitalize, :url => new_address_path, :method => :get, :update => 'addresses', :html => { :title => I18n.t('address.create.action').capitalize, :class => 'ui-icon ui-icon-plus'}
    #addresses
      = render :partial => 'addresses/list', :locals => { :addresses => current_user.addresses }
= javascript_tag "$('#tabs').tabs();"
