- form_for :order_details, order_details, :html => { :id => 'detail_form' } do |f|
  = f.hidden_field :order_id
  = f.error_messages
  %p
    %b
      = I18n.t('product', :count => 1).capitalize
      \:
    = collection_select 'product', 'id', products, :id, :name, { :prompt => I18n.t('please_select').capitalize}, :onchange => remote_function(:url => { :controller => 'admin/orders', :action => "get_product", :id => order_details.order_id }, :with => "'product_id=' + this.value", :update => 'detail_form' )
  %p
    %b
      = f.label :name, I18n.t('name').capitalize
      \:
    = f.text_field :name
  %p
    %b
      = f.label :description, I18n.t('description').capitalize
      \:
    = f.text_field :description
  %p
    %b
      = f.label :price, I18n.t('price', :count => 1).capitalize
      \:
    = f.text_field :price
  %p
    %b
      = f.label :rate_tax, I18n.t('rate_tax').capitalize
      \:
    = f.text_field :rate_tax
  %p
  = f.submit I18n.t('save').capitalize
- content_for :tools, link_to(I18n.t('order.update.action').capitalize, [:admin, order_details.order], :class => 'manage')
