= display_standard_flashes
= link_to_unless order.new_record?, I18n.t('order_detail.create.action').capitalize, { :controller => 'admin/order_details', :action => 'new', :id => order.id }, :class => 'add'
%table
  %thead
    %tr
      %th
        = I18n.t('name').capitalize
      %th
        = I18n.t('price', :count => 1).capitalize
      %th
        = I18n.t('action', :count => 2).capitalize
  %tbody
    - order.orders_details.each do |orders_detail|
      %tr
        %td
          = orders_detail.name
        %td
          = orders_detail.price
        %td
          = link_to I18n.t('edit').capitalize, { :controller => 'admin/orders', :action => 'edit_detail', :id => order.id, :detail_id => orders_detail.id }
          \-
          = link_to_remote I18n.t('destroy').capitalize, :url => { :controller => 'admin/orders', :action => 'destroy_detail', :id => order.id, :detail_id => orders_detail.id }, :update => 'orders_details', :confirm => I18n.t('order_detail.destroy.confirm').capitalize
