- content_for :tools, link_to(I18n.t('tattribute.create.action').capitalize, new_admin_tattribute_path, :class => 'add' )
= display_standard_flashes
%table
  %thead
    %tr
      %th
        = I18n.t('name').capitalize
      %th
        = I18n.t('values_count').capitalize
      %th
        = I18n.t('action', :count=>2).capitalize
  - unless tattributes.empty?
    %tbody
      - tattributes.each do |tattr|
        %tr
          %td
            = tattr.name
          %td
            = (tattr.dynamic? ? I18n.t('dynamic').capitalize : tattr.tattribute_values.count)
          %td
            = link_to I18n.t('edit').capitalize, [:edit, :admin, tattr]
            \-
            = link_to I18n.t('destroy').capitalize, [:admin, tattr ], :method => 'delete', :confirm => I18n.t('tattribute.destroy.confirm').capitalize
