- product_type.tattributes.each do |option|
  .fake-hr
    %span.option-second-title
      = option.name
  - if option.dynamic?
    - dynamic_attribute = product.dynamic_tattribute_values.find_by_tattribute_id(option.id)
    = text_field "dynamic_tattribute_values[#{option.id}]", 'value', :value => (dynamic_attribute.value unless dynamic_attribute.nil?)
  - else
    -  option.tattribute_values.each do |value|
      .grid_3.omega
        = check_box_tag 'product[tattribute_value_ids][]', value.id, product.tattribute_value_ids.include?(value.id)
        = value.name

