- if orders.empty?
  = t('order', :count => 0).capitalize
- else
  %table
    %thead
      %tr
        %th= t('reference').capitalize
        %th= t('status', :count=>1).capitalize
        %th= t('address.delivery', :count => 1).capitalize
        %th= t('action', :count=>2).capitalize
    %tbody
      - orders.each do |order|
        %tr
          %td
            - #= order.reference
          %td
            = t(order.aasm_current_state).capitalize
          %td
            %pre
              = t(order.address_delivery.civility, :scope => [:civility, :label])
              \&nbsp;
              = order.address_delivery.name
              \&nbsp;
              = order.address_delivery.firstname
              = order.address_delivery.address
              \&nbsp;
              = order.address_delivery.address_2
              = order.address_delivery.zip_code
              \&nbsp;
              = order.address_delivery.city
              = order.address_delivery.country.name
          %td
            = link_to_remote t('show').capitalize, :url => order_path(order), :method => 'get', :update => 'orders'
            \-
            - #= link_to_remote t('destroy').capitalize, :url => order_path(order), :confirm => t('order.destroy.confirm').capitalize, :method => 'delete', :update => 'orders'
