- if orders.empty?
  = t('order', :count => 0).capitalize
- else
  %table
    %thead
      %tr
        %th= t('reference').capitalize
        %th= t('status', :count=>1).capitalize
        %th= t('address.delivery', :count => 1).capitalize
        %th= t('action', :count=>2).capitalize
    %tbody
      - orders.each do |order|
        %tr
          %td= order.reference
          %td= t(order.aasm_current_state, :scope => [:order, :status])
          %td= order.address_delivery.designation
          %td
            = link_to t('show').capitalize, order_path(order)
            \-
            - #= link_to_remote t('destroy').capitalize, :url => order_path(order), :confirm => t('order.destroy.confirm').capitalize, :method => 'delete', :update => 'orders'
