%p
  %b
    = I18n.t('address.invoice').capitalize
  = render :partial => 'addresses/show', :locals => { :address => @order.address_invoice }
%p
  %b
    = I18n.t('address.delivery').capitalize
  = render :partial => 'addresses/show', :locals => { :address => @order.address_delivery }
%h3
  = I18n.t('product', :count=>@order.orders_details.count).capitalize
%table
  %thead
    %th
      = I18n.t('name').capitalize
    %th
      = I18n.t('price', :count=>1).capitalize
    %th
      = I18n.t('quantity',:count =>1).capitalize
    %th
      = I18n.t('rate_tax').capitalize
    %th
      = I18n.t('action', :count=>2).capitalize
  %tbody
    - @order.orders_details.each do |product|
      %tr
        %td
          = product.name
        %td
          = product.price
        %td
          = product.quantity
        %td
          = product.rate_tax
        %td
          = link_to_if false, I18n.t('cancel').capitalize, :url => :root
