%p
  %b
    = t('address.invoice', :count => 1).capitalize
  = render :partial => 'addresses/show', :locals => { :address => @order.address_invoice }
%p
  %b
    = t('address.delivery', :count => 1).capitalize
  = render :partial => 'addresses/show', :locals => { :address => @order.address_delivery }
%h3
  = t('product', :count=>@order.order_details.count).capitalize
%table
  %thead
    %th= t('name').capitalize
    %th= t('price', :count=>1).capitalize
    %th= t('quantity',:count =>1).capitalize
    %th= t('rate_tax').capitalize
    %th= t('action', :count=>2).capitalize
  %tbody
    - @order.order_details.each do |product|
      %tr
        %td= product.name
        %td
          = number_with_precision(product.price,2)
          = current_currency.html
        %td=# product.quantity
        %td= product.rate_tax
        %td= link_to_if false, t('cancel').capitalize, :url => :root
