#dashboard.statistics.grtid_12.alpha.omega
  .left-dashboard.grid_12.omega.alpha
    .padding-wrap
      %h2.small-icons.see-stats
        Trends
      .trend_filter
        %label
          Show trends for :
        %select
          %option
            This month
      .chart
        there goes the chart
      .clear
      %h2.small-icons.products
        Products
      .to-tab
        %ul
          %li= link_to I18n.t('product.best_seller', :count => @products_most_sold.count), '#best-sellers'
          %li= link_to I18n.t('product.most_viewed', :count => @products_most_viewed.count), '#most-viewed'
        #best-sellers
          - @products_most_sold.each do |product|
            .stat-product-container
              - if picture = product.pictures.first
                = image_tag(picture.public_filename(:thumb))
              - else
                = image_tag('admin/no-image.png')
              %span.stat-product-sells
                = I18n.t('product.sold', :count => product.product_sold_counters.find_by_date(@date).counter)
              = link_to product.name, [:admin, product], :class => 'product-name'
              %span.stat-prodcut-title
                = "#{product.price} #{$currency.html}"
          .clear
          %a.see-all-orders{ :href => "#" }
            See all products
        #most-viewed
          - @products_most_viewed.each do |product|
            .stat-product-container
              - if picture = product.pictures.first
                = image_tag(picture.public_filename(:thumb))
              - else
                = image_tag('admin/no-image.png')
              %span.stat-product-sells
                = I18n.t('product.viewed', :count => product.product_viewed_counters.find_by_date(@date).counter)
              = link_to product.name, [:admin, product], :class => 'product-name'
              %span.stat-product-title
                = "#{product.price} #{$currency.html}"
            .clear
          %a.see-all-orders{ :href => "#" }
            See all products
      %h2.small-icons.page
        Pages
      .to-tab
        %ul
          %li
            %a{ :href => "#most-viewed-pages" }
              Most viewed
          %li
            %a{ :href => "#most-commented" }
              Most commented
        #most-viewed-pages
          %table
            %tbody
              - @pages_most_viewed.each do |page|
                %tr{ :class => cycle('odd','even') }
                  %td.table-product= "#{I18n.t(:page, :count => 1).capitalize} \"#{page.title}\""
                  %td= I18n.t('page.viewed', :count => page.page_viewed_counters.find_by_date(@date).counter)
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
        #most-commented
          %table
            %tbody
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
      %h2.small-icons.customer
        Customers
      .to-tab
        %ul
          %li
            %a{ :href => "#best-customers" }
              best-customers
          %li
            %a{ :href => "#top-search" }
              Top 5 search items
          %li
            %a{ :href => "#most-search" }
              Most search items
          %li
            %a{ :href => "#top-location" }
              Top 5 locations
        #best-customers
          %table
            %tbody
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
        #top-search
          %table
            %tbody
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
        #most-search
          %table
            %tbody
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
        #top-location
          %table
            %tbody
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
  .right-dahsboard.grid_4.alpha
    %h2.small-icons.see-stats
      Keyfacts
    .trend_filter
      %select
        %option
          This month
    .live-stats-content
      %span
        %span.keyfacts-name
          Visitors
        %span.keyfacts-value
          4500
        %span.clear
      %span
        %span.keyfacts-name
          Averag order
        %span.keyfacts-value
          45.5$
        %span.clear
      %span
        %span.keyfacts-name
          Product Sold
        %span.keyfacts-value
          450
        %span.clear
      %span
        %span.keyfacts-name
          Revenue
        %span.keyfacts-value
          45000$
        %span.clear
      %span
        %span.keyfacts-name
          Conversion rate
        %span.keyfacts-value
          8%
        %span.clear
      %span
        %span.keyfacts-name
          Average customer
        %span.keyfacts-value
          120$
        %span.clear
  .clear
