= javascript_include_tag 'swfobject'

#dashboard.statistics.grtid_12.alpha.omega
  .left-dashboard.grid_12.omega.alpha
    .padding-wrap
      %h2.small-icons.see-stats= I18n.t('statistic.trends').capitalize
      .trend_filter
        - form_tag admin_statistics_path, :id => 'form_stats' do |f|
          %label
            = "#{I18n.t('statistic.show.for').capitalize} :"
          = select_tag :timestamp, options_for_select([[I18n.t('please_select'), nil], [I18n.t('statistic.last.month'), 'month'], [I18n.t('statistic.last.week'), 'week']], params[:timestamp]), :onchange => "$('#form_stats').submit()"
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to I18n.t('visitor', :count => 2), '#visitors'
          %li.ui-state-default.ui-corner-top= link_to I18n.t('sale', :count => 2), '#sales'
        #visitors.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          .chart
            = @visitors_graph if @visitors_graph
        #sales.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
          .chart
            = @sales_graph if @sales_graph
      .clear

      %h2.small-icons.products= I18n.t('product', :count => 2).capitalize
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to I18n.t('product.best_seller', :count => @products_most_sold.count), '#best-sellers'
          %li.ui-state-default.ui-corner-top= link_to I18n.t('product.most_viewed', :count => @products_most_viewed.count), '#most-viewed'
        #best-sellers.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          - @products_most_sold.each do |product_id, counter|
            - if product = Product.find_by_id(product_id)
              .stat-product-container
                - if picture = product.pictures.first
                  = image_tag(picture.public_filename(:thumb))
                - else
                  = image_tag('admin/no-image.png')
                %span.stat-product-sells
                  = I18n.t('product.sold', :count => counter)
                = link_to product.name, [:admin, product], :class => 'product-name'
                %span.stat-prodcut-title
                  = "#{product.price} #{$currency.html}"
          .clear
          %a.see-all-orders{ :href => "#" }
            = I18n.t('product.show.all').capitalize
        #most-viewed.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
          - @products_most_viewed.each do |product_id,counter|
            - if product = Product.find_by_id(product_id)
              .stat-product-container
                - if picture = product.pictures.first
                  = image_tag(picture.public_filename(:thumb))
                - else
                  = image_tag('admin/no-image.png')
                %span.stat-product-sells
                  = I18n.t('product.viewed', :count => counter)
                = link_to product.name, [:admin, product], :class => 'product-name'
                %span.stat-product-title
                  = "#{product.price} #{$currency.html}"
              .clear
          %a.see-all-orders{ :href => "#" }
            = I18n.t('product.show.all').capitalize
      %h2.small-icons.page= I18n.t('page', :count => 2).capitalize
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to I18n.t('page.most_viewed', :count => 2), '#most-viewed-pages'
          %li.ui-state-default.ui-corner-top= link_to I18n.t('page.most_commented', :count => 2), '#most-commented'
        #most-viewed-pages.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          %table
            %tbody
              - @pages_most_viewed.each do |page_id, counter|
                - if page = Page.find_by_id(page_id)
                  %tr{ :class => cycle('odd','even') }
                    %td.table-product= "#{I18n.t(:page, :count => 1).capitalize} \"#{page.title}\""
                    %td= I18n.t('page.viewed', :count => counter)
          .clear
          %a.see-all-orders{ :href => "#" }
            = I18n.t('page.show.all').capitalize
        #most-commented.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
          %table
            -#%tbody
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
          .clear
          %a.see-all-orders{ :href => "#" }
            = I18n.t('page.show.all').capitalize
      %h2.small-icons.customer= I18n.t('customer', :count => 2).capitalize
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to I18n.t('user.best_customer', :count => 2).capitalize, '#best-customers'
          %li.ui-state-default.ui-corner-top= link_to I18n.t('user.new_customer', :count => 2).capitalize, '#new-customers'
        #best-customers.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          %table
            -#%tbody
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
          .clear
          = link_to I18n.t('user.show.all').capitalize, admin_users_path, :class => 'see-all-orders'

        #new-customers.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
          %table
            %tbody
              - @customers_new.each do |customer|
                %tr{ :class => cycle('odd','even') }
                  %td
                    = customer.fullname
                  %td
                    = I18n.t('user.joined_the').capitalize
                    = customer.created_at.to_s(:short)
                  %td
                    = customer.email
            
          .clear
          = link_to I18n.t('user.show.all').capitalize, admin_users_path, :class => 'see-all-orders'

      %h2.small-icons.search= I18n.t('search').capitalize
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to 'Top 5 search items', '#top-search'
          %li.ui-state-default.ui-corner-top= link_to "Most search items", '#most-search'
        #top-search.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          %table
            %tbody
          .clear
        #most-search.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
          %table
            %tbody
          .clear


  .right-dahsboard.grid_4.alpha
    %h2.small-icons.see-stats= I18n.t('statistic.keyfacts').capitalize
    .live-stats-content
      %span
        %span.keyfacts-name= I18n.t('visitor', :count => 2).capitalize
        %span.keyfacts-value= VisitorCounter.sum(:counter, :conditions => { :date => @date})
        %span.clear
      %span
        %span.keyfacts-name= I18n.t('statistic.average_order').capitalize
        %span.keyfacts-value
          45.5$
        %span.clear
      %span
        %span.keyfacts-name= I18n.t('statistic.products_sold').capitalize
        %span.keyfacts-value
          450
        %span.clear
      %span
        %span.keyfacts-name= I18n.t('statistic.revenue').capitalize
        %span.keyfacts-value
          45000$
        %span.clear
      %span
        %span.keyfacts-name= I18n.t('statistic.conversion_rate').capitalize
        %span.keyfacts-value
          8%
        %span.clear
      %span
        %span.keyfacts-name= I18n.t('statistic.average_customer').capitalize
        %span.keyfacts-value
          120$
        %span.clear
  .clear

