= javascript_include_tag 'swfobject'

#dashboard.statistics.grtid_12.alpha.omega
  .left-dashboard.grid_12.omega.alpha
    .padding-wrap
      %h2.small-icons.see-stats= t('statistic.trends').capitalize
      .trend_filter
        - form_tag [forgeos_core, :admin, :statistics], :id => 'form_stats' do |f|
          %label
            = "#{t('statistic.show.for').capitalize} :"
          = select_tag :timestamp, options_for_select([[t('please_select'), nil], [t('statistic.last.month'), 'month'], [t('statistic.last.week'), 'week']], params[:timestamp]), :onchange => "$('#form_stats').submit()"
      .chart
        = @graph
      .clear

      %h2.small-icons.products= t('product', :count => 2).capitalize
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t('product.best_seller', :count => @products_most_sold.size), '#best-sellers'
          %li.ui-state-default.ui-corner-top= link_to t('product.most_viewed', :count => @products_most_viewed.size), '#most-viewed'
        #best-sellers.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          - @products_most_sold.each do |product_id, counter|
            - if product = Product.find_by_id(product_id)
              .stat-product-container
                - if picture = product.pictures.first
                  = image_tag(picture.public_filename(:thumb))
                - else
                  = image_tag('admin/no-image.png')
                %span.stat-product-sells
                  = t('product.sold', :count => counter)
                = link_to product.name, [forgeos_commerce, :admin, product], :class => 'product-name truncate', :title => product.name
                %span.stat-prodcut-title
                  = price_with_currency product.price
          .clear
          %a.see-all-orders{ :href => "#" }
            = t('product.show.all').capitalize
        #most-viewed.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
          - @products_most_viewed.each do |product_id,counter|
            - if product = Product.find_by_id(product_id)
              .stat-product-container
                - if picture = product.pictures.first
                  = image_tag(picture.public_filename(:thumb))
                - else
                  = image_tag('admin/no-image.png')
                %span.stat-product-sells
                  = t('product.viewed', :count => counter)
                = link_to product.name, [forgeos_commerce, :admin, product], :class => 'product-name truncate', :title => product.name
                %span.stat-product-title
                  = price_with_currency product.price
              .clear
          %a.see-all-orders{ :href => "#" }
            = t('product.show.all').capitalize
      %h2.small-icons.page= t('page', :count => 2).capitalize
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t('page.most_viewed', :count => 2), '#most-viewed-pages'
          /%li.ui-state-default.ui-corner-top= link_to t('page.most_commented', :count => 2), '#most-commented'
        #most-viewed-pages.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          %table
            %tbody
              - @pages_most_viewed.each do |page_id, counter|
                - if page = Page.find_by_id(page_id)
                  %tr{ :class => cycle('odd','even') }
                    %td.table-product= link_to page.title, [forgeos_cms, :admin, page]
                    %td= t('page.viewed', :count => counter)
          .clear
          %a.see-all-orders{ :href => "#" }
            = t('page.show.all').capitalize
        #most-commented.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
          %table
            %tbody
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
          .clear
          %a.see-all-orders{ :href => "#" }
            = t('page.show.all').capitalize
      %h2.small-icons.customer= t('customer', :count => 2).capitalize
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t('user.best_customer', :count => 2).capitalize, '#best-customers'
          %li.ui-state-default.ui-corner-top= link_to t('user.new_customer', :count => 2).capitalize, '#new-customers'
        #best-customers.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          %table
            %tbody
            - @best_buyers.each do |user_id, total|
              - if user = User.find_by_id(user_id)
                %tr{:class => cycle('odd','even')}
                  %td.customer-bought-amount= price_with_currency total
                  %td= user ? link_to(h(user.fullname), [forgeos_core, :admin, user]) : ''
          .clear
          = link_to t('user.show.all').capitalize, [forgeos_core, :admin, :users], :class => 'see-all-orders'

        #new-customers.ui-tabs-panel.ui-widget-content.ui-corner-bottom.ui-tabs-hide
          %table
            %tbody
              - @customers_new.each do |customer|
                %tr{ :class => cycle('odd','even') }
                  %td
                    = link_to h(customer.fullname), [forgeos_core, :admin, customer]
                  %td
                    = t('user.joined_on').capitalize
                    = customer.created_at.to_s(:short)
                  %td.email
                    = mail_to h(customer.email), customer.email

          .clear
          = link_to t('user.show.all').capitalize, [forgeos_core, :admin, :users], :class => 'see-all-orders'

      %h2.small-icons.search= t('search').capitalize
      .to-tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
        %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
          %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t('top_5_items').capitalize, '#top-search'
        #top-search.ui-tabs-panel.ui-widget-content.ui-corner-bottom
          %table
            %tbody
              - @keywords.each do |keyword_id, count|
                - if search_keyword = SearchKeyword.find_by_id(keyword_id)
                  %tr{ :class => cycle('odd','even')}
                    %td= search_keyword.keyword
                    %td= t('seen', :count => count, :scope => :search_keyword)

  .right-dahsboard.grid_4.alpha
    %h2.small-icons.see-stats= t('statistic.keyfacts').capitalize
    .live-stats-content
      %span
        %span.keyfacts-name= t('visitor', :count => 2).capitalize
        %span.keyfacts-value= Forgeos::Statistics.total_of_visitors(@date)
        %span.clear
      %span.disabled
        %span.keyfacts-name= t('statistic.average_order').capitalize
        %span.keyfacts-value
        %span.clear
      %span.disabled
        %span.keyfacts-name= t('statistic.products_sold').capitalize
        %span.keyfacts-value
        %span.clear
      %span.disabled
        %span.keyfacts-name= t('statistic.revenue').capitalize
        %span.keyfacts-value
        %span.clear
      %span.disabled
        %span.keyfacts-name= t('statistic.conversion_rate').capitalize
        %span.keyfacts-value
        %span.clear
      %span.disabled
        %span.keyfacts-name= t('statistic.average_customer').capitalize
        %span.keyfacts-value
        %span.clear
  .clear

