.attribute-type
  %span{ :class => ['small-icons', attribute.class.to_s.underscore] }=t label
.choices
  %h2=t 'attribute.value', :count => 2
  %ul.nested_sortable.sortable-choices.grid_10.omega.alpha
    = form.fields_for :attribute_values  do |attribute_value|
      %li.block-container
        %span.block-type
          %span.handler
            %span.inner
        %span.block-image
          - link_id = "item_#{attribute_value.object.id}"
          - carousel_image = image_tag attribute_value.object.pictures.first ? attribute_value.object.pictures.first.public_filename(:thumb) : 'admin/no-image_50x50.png', :id => "#{link_id}_image"
          = carousel_image
          = attribute_value.hidden_field "picture_ids"
          = link_to('', '#', :class => 'big-icons edit change-picture', :id => "change_picture_#{link_id}")
        %span.block-name
          = attribute_value.text_field :value
          = attribute_value.hidden_field :id
          = attribute_value.hidden_field :_destroy, :class => 'delete'
          = attribute_value.hidden_field :position
        %span.small-icons.red-delete-icon
        %span.small-icons.green-add-icon
  .clear
