- content_for :tools, link_to(I18n.t('attributes_group.update.action').capitalize, [:edit, :admin, attribute.attributes_group], :class => 'manage')
#tabs
  %ul
    %li
      %a{ :href => "#tabs-1" }
        = I18n.t('information', :count =>2).capitalize
    - unless attribute.new_record?
      %li
        %a{ :href => "#tabs-2" }
          = I18n.t('picture', :count=>2).capitalize
  #tabs-1
    - form_for [:admin, attribute], :html => { :id => 'static_attributes' } do |f|
      = f.hidden_field :attributes_group_id
      %p
        %b
          = f.label :name, I18n.t('name').capitalize
          \:
        = f.text_field :name
      %center
        = f.submit I18n.t('save').capitalize
  #tabs-2
    #attributes_pictures
      = link_to_unless attribute.id.nil?, I18n.t('picture.create.action').capitalize,  new_admin_picture_path(:target => 'tattribute', :target_id => attribute.id), :class => 'add'
      #list_pictures
        = render :partial => 'admin/pictures/list', :locals => { :pictures => attribute.pictures, :target => 'tattribute', :target_id => attribute.id }

= javascript_tag "$(function(){ $('#tabs').tabs(); })"
