.attribute-type
  %span.small-icons.picklist_attribute= I18n.t 'picklist_attribute.field'
.choices
  %h2= I18n.t 'attribute.value', :count => 2
  %ul.nested_sortable.sortable-choices.grid_10.omega.alpha
    - form.fields_for :attribute_values  do |attribute_value|
      %li.block-container
        %span.block-type
          %span.handler
            %span.inner
        %span.block-name
          = attribute_value.text_field :name
          = attribute_value.hidden_field :id
          = attribute_value.hidden_field :_delete, :class => 'delete'
          = attribute_value.hidden_field :position
        %span.small-icons.red-delete-icon
        %span.small-icons.green-add-icon
  .clear
