= render :partial => 'tabs'
= render :partial => 'admin/sidebars/left_sidebar', :locals => { :icon_class => 'attributes', :sidebar_title => 'attribute.all', :tree_id =>'attribute-tree' }
#content.grid_12.alpha.omega
  .backgrounds.header
    %span.backgrounds.action-button.attribute-text-action.select_choice
      %span.big-icons.create-text-attribute
        = I18n.t('attribute.create.text').capitalize
      %span.small-icons.arrow
      %span.choices_list
        - %w(text longtext url number date).each do |type|
          %span.widget-item
            - attribute = "#{type}_attibute"
            - link_to [forgeos_commerce, :new, :admin, attribute] do
              %span{ :class => "small-icons #{attribute}"}= t(attribute, :count => 1)

    %span.backgrounds.action-button.attribute-choice-action.select_choice
      %span.big-icons.create-choice-attribute
        = I18n.t('attribute.create.choice').capitalize
      %span.small-icons.arrow
      %span.choices_list
        - %w(picklist checkbox radiobutton).each do |type|
          %span.widget-item
            - attribute = "#{type}_attibute"
            - link_to [forgeos_commerce, :new, :admin, attribute] do
              %span{ :class => "small-icons #{attribute}"}= t(attribute, :count => 1)

    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class =>'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows

= dataTables_tag :url => forgeos_commerce.admin_attributes_path(:format => :json), :columns => ["{'bSearchable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':\"#{I18n.t 'attribute.access_method'}\"}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
