{
'iTotalDisplayRecords': <%= @attributes.total_entries || 0 %>,
'aaData': [
<% @attributes.each do |attribute| %>
  <% 
    link_id = "attribute_#{attribute.id}"
  %>
  [
  '<%= escape_javascript content_tag(:div, "<div class='handler'></div><div class='small-icons #{attribute.class.to_s.underscore}'></div>", :id => link_id, :class => 'handler_container') -%>',
  '<%= escape_javascript content_tag(:div, link_to(attribute.name, admin_attribute_path(attribute)), :class => 'product-name') -%>',
  '<%= attribute.access_method %> ',
  '<%= escape_javascript(
    link_to('', duplicate_admin_attribute_path(attribute), :class => 'small-icons duplicate-link') +
    link_to('', [:edit, :admin, attribute], :class => 'small-icons edit-link') +
    link_to_remote('', :url => [:admin, attribute],
         :method => :delete,
         :confirm => I18n.t('attribute.destroy.confirm').capitalize,
         :success => "removedataTablesRow('#destroy_#{link_id}')",
         :html => {
         :class => 'small-icons destroy-link', :id => "destroy_#{link_id}"
       })
  ) -%>'
    ] <%= ',' unless @attributes.last == attribute %>
<% end %>
]
}
