%h1 Create a special offer
- form_tag special_offer_admin_price_cuts_path do
  %p
    = label 'rule_builder', 'title'
    = text_field 'rule_builder', 'title'
  %p
    = label 'rule_builder', 'description'
    = text_area 'rule_builder', 'description', :rows => 2
  %div{:style => 'margin : 1em; padding:  3em; border : 1px solid #000000', :class => 'ui-corner-all'}
    %h3 For
    = select 'rule_builder', 'for', %w(Category ProductinShop ProductinCart Cart), { :prompt => true }, { :onchange => remote_function(:url => '', :with => "'target_type='+$(this).val()", :update => 'rule_builder_target') }
    = select 'rule_builder', 'target', [], :prompt => true
  %div{:style => 'margin : 1em; padding:  3em; border : 1px solid #000000', :class => 'ui-corner-all'}
    %h3 If
    = select 'rule_builder', 'if', %w(Any All)
    of these conditions are true
    #rule-conditions
      %p.rule-condition
        = select_tag 'rule[targets][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+%w(Weight Size Price Toto))
        = select_tag 'rule[conds][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+%w(is isnot isoneof isnotoneof containes))
        = select_tag 'rule[values][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+%w(eazea zaeaz e ze aze z eaze aze))
        = link_to_function 'del', "remove_rule(this,'rule-condition')", :class => 'icon1 moins disabled'
        = link_to_function 'add', "add_rule('rule-condition')", :class => 'icon1 plus'

  %div{:style => 'margin : 1em; padding:  3em; border : 1px solid #000000', :class => 'ui-corner-all'}
    %h3 Then
    #action-conditions
      %p.action-condition
        = select_tag 'act[targets][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+['Discount price this product','Offer a product','Offer free delivery'])
        = select_tag 'act[conds][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+['By percent','By fixed amount'])
        = text_field_tag 'act[values][]'
        = link_to_function 'del', "remove_rule(this,'action-condition')", :class => 'icon1 moins disabled'
        = link_to_function 'add', "add_rule('action-condition')", :class => 'icon1 plus'


  %p
    = check_box 'rule_builder', 'stop'
    Stop futher rules processing
  %p
    = submit_tag 'Save'
    or
    = link_to 'Cancel', :back

%p.rule-condition.pattern{ :style => 'display: none'}
  = select_tag 'rule[targets][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+%w(Weight Size Price Toto))
  = select_tag 'rule[conds][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+%w(is isnot isoneof isnotoneof containes))
  = select_tag 'rule[values][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+%w(eazea zaeaz e ze aze z eaze aze))
  = link_to_function 'del', "remove_rule(this,'rule-condition')", :class => 'icon1 moins'
  = link_to_function 'add', "add_rule('rule-condition')", :class => 'icon1 plus'

%p.action-condition.pattern{ :style => 'display: none' }
  = select_tag 'act[targets][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+['Discount price this product','Offer a product','Offer free delivery'])
  = select_tag 'act[conds][]', options_for_select([[I18n.t(:please_select).capitalize, nil]]+['By percent','By fixed amount'])
  = text_field_tag 'act[values][]'
  = link_to_function 'del', "remove_rule(this,'action-condition')", :class => 'icon1 moins'
  = link_to_function 'add', "add_rule('action-condition')", :class => 'icon1 plus'


= javascript_include_tag 'special_offer'
