<% content_for :tools do %>
  <%= link_to(I18n.t('attributes_group.update.action').capitalize, edit_admin_attributes_group_path(attribute.attributes_group), :class => 'manage') %>
<% end %>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t('information', :count =>2).capitalize %></a></li>
  <% unless attribute.new_record? %>
    <li><a href="#tabs-2"><%= I18n.t('picture', :count=>2).capitalize %></a></li>
  <% end %>
  </ul>

  <div id="tabs-1">
  <% form_for :attribute, :url => { :attr_id => attribute.id, :id => attribute.attributes_group.id }, :update => 'attributes',
    :html => { :id => 'static_attributes' } do |f| %>
      <p><b><%= f.label :name, I18n.t('name').capitalize %> : </b><%= f.text_field :name %></p>
    <center><%= f.submit I18n.t('save').capitalize %></center>
  <% end %>
  </div>

  <div id="tabs-2">
    <div id="attributes_pictures">
      <%= link_to_unless attribute.id.nil?, I18n.t('picture.create.action').capitalize, 
        new_admin_picture_path(:target => 'tattribute', :target_id => attribute.id),
        :class => 'add'
      %>
      <div id="list_pictures">
        <%= render :partial => 'admin/pictures/list', :locals => { :pictures => attribute.pictures, :target => 'tattribute', :target_id => attribute.id } %>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag "$('#tabs').tabs();" %>
