<%= display_standard_flashes %>
<% content_for :tools do %>
  <%= link_to(I18n.t('list').capitalize, admin_attributes_groups_path, :class => 'house' )%>
<% end %>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1"><%= I18n.t('information', :count =>2).capitalize %></a></li>
  <% unless attributes_group.new_record? || attributes_group.dynamic? %>
    <li><a href="#tabs-2"><%= I18n.t('attribute', :count=>2).capitalize %></a></li>
  <% end %>
  <% unless attributes_group.new_record? %>
    <li><a href="#tabs-3"><%= I18n.t('picture', :count=>2).capitalize %></a></li>
  <% end %>
  </ul>

  <div id="tabs-1">
    <% form_for [:admin ,attributes_group] do |f| %>
      <p><b><%= f.label :name, I18n.t('name').capitalize %> : </b><%= f.text_field :name %></p>
      <p><b><%= f.label :dynamic, I18n.t('dynamic').capitalize %> : </b><%= f.check_box :dynamic %></p>
      <center><%= f.submit I18n.t('save').capitalize %></center>
    <% end %>
  </div>
<% unless attributes_group.new_record? || attributes_group.dynamic? %>
  <div id="tabs-2">
    <div id="attributes">
      <%= render :partial => 'admin/attributes/list', :locals => { :group => attributes_group } %>
    </div>
  </div>
<% end %>
<% unless attributes_group.new_record? %>
  <div id="tabs-3">
    <div id="attributes_group_pictures">
      <%= link_to_unless attributes_group.new_record?, I18n.t('picture.create.action').capitalize,
        new_admin_picture_path(:target => 'attributes_group', :target_id => attributes_group.id ),
          :class => 'add' %>
      <div id="list_pictures">
        <%= render :partial => 'admin/pictures/list', :locals => { :pictures => attributes_group.pictures, :target => 'attributes_group', :target_id => attributes_group.id } %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= javascript_tag "$('#tabs').tabs();" %>
