= display_standard_flashes
- content_for :tools, link_to(I18n.t('list').capitalize, admin_attributes_groups_path, :class => 'house' )
#tabs
  %ul
    %li
      %a{ :href => "#tabs-1" }
        = I18n.t('information', :count =>2).capitalize
    - unless attributes_group.new_record? || attributes_group.dynamic?
      %li
        %a{ :href => "#tabs-2" }
          = I18n.t('attribute', :count=>2).capitalize
    - unless attributes_group.new_record?
      %li
        %a{ :href => "#tabs-3" }
          = I18n.t('picture', :count=>2).capitalize
  #tabs-1
    - form_for [:admin ,attributes_group] do |f|
      %p
        %b
          = f.label :name, I18n.t('name').capitalize
          \:
        = f.text_field :name
      %p
        %b
          = f.label :dynamic, I18n.t('dynamic').capitalize
          \:
        = f.check_box :dynamic
      %center
        = f.submit I18n.t('save').capitalize
  - unless attributes_group.new_record? || attributes_group.dynamic?
    #tabs-2
      #attributes
        = render :partial => 'admin/attributes/list', :locals => { :group => attributes_group }
  - unless attributes_group.new_record?
    #tabs-3
      #attributes_group_pictures
        = link_to_unless attributes_group.new_record?, I18n.t('picture.create.action').capitalize, new_admin_picture_path(:target => 'attributes_group', :target_id => attributes_group.id ), :class => 'add'
        #list_pictures
          = render :partial => 'admin/pictures/list', :locals => { :pictures => attributes_group.pictures, :target => 'attributes_group', :target_id => attributes_group.id }
= javascript_tag "$('#tabs').tabs();"
