<% @content_for_tools << link_to('create attributes group', { :controller => 'attributes_groups', :action => 'create' }, :class => 'add' ) %>
<%= display_standard_flashes %>
<table>
  <thead>
    <th><%= 'Name' %></th>
    <th><%= 'ValuesCount' %></th>
    <th>Action</th>
  </thead>
  <% unless groups.empty? %>
    <tbody>
      <% groups.each do |attr_group| %>
      <tr>
        <td><%= attr_group.name %></td>
        <td><%= (attr_group.dynamic? ? 'Dynamic' : attr_group.tattributes.count) %></td>
        <td>
          <%= link_to 'edit', :controller => 'attributes_groups', :action => 'edit', :id => attr_group.id %>
          <%= link_to 'destroy', :controller => 'attributes_groups', :action => 'destroy', :id => attr_group.id %>
        </td>
      </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
