<%= hidden_field_tag "role[right_ids][]" %>
<table>
<% rights.in_groups_of(4,false).each do |right_group| %>
  <tr>
    <% right_group.each do |right| %> 
    <td class='content'>
    <% if role %>
      <%= check_box_tag "role[right_ids][]", right.id, role.rights.include?(right) %><%= right.name %>
    <% else %>
      <%= check_box_tag "role[right_ids][]", right.id, false %><%= right.name %>
    <% end %>
    </td>
    <% end %>
  </tr>            
<% end %>
</table>
