<% form_for [:admin, role] do |f| %>
  <%= f.error_messages %>
  
  <p>
    <b><%= f.label :name, I18n.t('name').capitalize %> : </b>
    <%= f.text_field :name %>
  </p>
  <p>
    <b><%= I18n.t('right', :count => 2).capitalize %> : </b>
    <%= render :partial => 'form_rights', :locals => { :rights => Right.all, :role => role } %>
  </p>
  <p>
    <%= f.submit I18n.t('save').capitalize %>
  </p>

<% end %>

<% if !(role.new_record?) %>
  <% content_for :tools do %>
    <%= link_to(I18n.t('show').capitalize, admin_role_path(role)) %>
  <% end %>
<% end %>
