- remote_form_for [:admin, address], :update => 'addresses' do |f|
  - civilities = Civility.all
  - countries = Country.all
  %p
    %b
      %label
        = I18n.t('type').capitalize
      \:
    = f.select :kind, [[I18n.t('address.delivery', :count => 1).capitalize, 'AddressDelivery'], [I18n.t('address.invoice', :count => 1).capitalize, 'AddressInvoice']]
  %p
    %b
      = f.label :name, I18n.t('lastname').capitalize
      \:
    = f.text_field :name
  %p
    %b
      = f.label :firstname, I18n.t('firstname').capitalize
      \:
    = f.text_field :firstname
  %p
    %b
      = f.label :civility_id, I18n.t('civility').capitalize
      \:
    = f.collection_select :civility_id, civilities, :id, :name, { :prompt => I18n.t('please_select').capitalize }
  %p
    %b
      = f.label :address, I18n.t('address', :count=>1).capitalize
      \:
    = f.text_field :address
  %p
    %b
      = f.label :address_2, I18n.t('address', :count=>1).capitalize
      \:
    = f.text_field :address_2
  %p
    %b
      = f.label :zip_code, I18n.t('zip_code').capitalize
      \:
    = f.text_field :zip_code
  %p
    %b
      = f.label :city, I18n.t('city').capitalize
      \:
    = f.text_field :city
  %p
    %b
      = f.label :country_id, I18n.t('country').capitalize
      \:
    = f.collection_select :country_id, countries, :id, :printable_name,{ :prompt => I18n.t('please_select').capitalize }
  = f.submit I18n.t('save').capitalize
  = link_to I18n.t('back').capitalize, user_path(current_user)
