= f.label :godfather_discount_price
%div
  = f.text_field :godfather_discount_price
  = f.check_box :godfather_discount_percent
  = f.label :godfather_discount_percent

= f.label :nephew_discount_price
%div
  = f.text_field :nephew_discount_price
  = f.check_box :nephew_discount_percent
  = f.label :nephew_discount_percent
