%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
  %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t('setting.global').capitalize, '#content'
  %li.ui-state-default.ui-corner-top= link_to t(:taxes_and_shippings).capitalize, [forgeos_commerce, :admin, :transporter_rules]
  %li.ui-state-default.ui-corner-top= link_to t(:checkout_and_payment).capitalize,'#'
  %li.ui-state-default.ui-corner-top= link_to t(:notification, :count => 2).capitalize, '#'
#blocks-header.backgrounds.settings.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
  %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
    %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t(:general, :scope => :setting).capitalize, '#general', :class => 'selected'
    %li.ui-state-default.ui-corner-top= link_to t(:mailer, :scope => :setting).capitalize, '#mailer'
    %li.ui-state-default.ui-corner-top= link_to t(:display, :scope => :setting).capitalize, '#display'
    %li.ui-state-default.ui-corner-top= link_to t(:backup, :scope => :setting).capitalize, '#backup'
    %li.ui-state-default.ui-corner-top= link_to t(:godfather, :scope => :setting).capitalize, '#godfather'
    %li.ui-state-default.ui-corner-top= link_to t(:payment, :count => 2).capitalize, '#payment'
    %li.ui-state-default.ui-corner-top= link_to t(:colissimo, :scope => :setting).capitalize, '#colissimo'
    %li.ui-state-default.ui-corner-top= link_to "Google", '#google'
