- object_name = element.class.to_s.underscore
= hidden_field_tag "#{object_name}[#{association_id}][]"

- unless defined?(level)
  - level = 0

- unless categories.nil? or categories.blank?
  - categories.each do |category|
    %li{ :rel => 'folder', :id => "#{object_name}_category_#{category.id}", :class => category_ids.include?(category.id) ? 'clicked' : ''}
      - if category_ids.include?(category.id)
        - link_to '#', :class => 'clicked big-icons folder' do
          = category.name + content_tag(:span)
        - if category_ids.include?(category.id)
          = hidden_field_tag "#{object_name}[#{association_id}][]", category.id
      - else
        - link_to '#', :class => 'big-icons folder' do
          = category.name + content_tag(:span)
      - unless category.children.empty?
        %ul
          - category.children.each do |child|
            = render :partial => 'admin/categories/associated_elements', :locals => { :categories => [child], :level => (level + 1), :element => element, :association_id => association_id, :category_ids => category_ids }
