- unless defined?(level)
  - level = 0
- categories.each do |category|
  - li_id = "category_#{category.id}"
  %li{ :rel => category.children.empty? ? 'file' : 'folder', :id => li_id }
    - picture = category.attachments.find_all_by_type('Picture').first
    - link_to '#', :style => (picture ? "background-image : url('#{picture.public_filename(:icon)}');" : ''), :id => "link_#{li_id}", :class => 'big-icons' do
      = category.name
      %span{ :id => "span_#{li_id}"}= category.total_elements_count

    - unless category.children.empty?
      %ul
        - category.children.each do |child|
          = render :partial => 'admin/categories/list', :locals => { :categories => [child], :level => (level + 1) }

  = drop_receiving_element("link_#{li_id}", :url => add_element_admin_category_path(category), :update => "span_#{li_id}", :with => "'element_id='+get_rails_element_id($(ui.draggable))+'&type=#{category.class}'", :complete => "update_parent_categories_count($('##{li_id}'))")
