<%= display_standard_flashes %>
<% unless defined?(level); level = 0; end %>
<ul>
  <% categories.each do |category| %>
    <li onmouseover="$(this).find('span.<%= level %>').show()" onmouseout="$(this).find('span.<%= level %>').hide()">
      <% picture = category.pictures.first %>
      <%= image_tag(picture.public_filename(:thumb)) if picture  %>
      <%= category.name %>
      <span style="display: none;" class="<%= level || 0 %>">
      <%= link_to I18n.t('edit').capitalize, edit_admin_category_path(category) %> -
      <%= link_to_remote I18n.t('destroy').capitalize, :url => admin_category_path(category), :method => :delete, :update => 'categories', :confirm => I18n.t('category.destroy.confirm').capitalize %> -
      <%= link_to I18n.t('category.sub.create.action').capitalize, new_admin_category_path(:category => { :parent_id => category.id }) %>
      </span>
      <% category.children.each do |child| %>
        <%= render :partial => 'list', :locals => { :categories => [child], :level => (level + 1) } %>
      <% end %>
    </li>
  <% end %>
</ul>
