<% unless defined?(level); level = 0; end %>
<ul>
  <% categories.each do |category| %>
    <li onmouseover="$(this).find('span.<%= level %>').show()" onmouseout="$(this).find('span.<%= level %>').hide()">
      <% picture = category.pictures.first %>
      <%= image_tag(picture.public_filename(:thumb)) if picture  %>
      <%= category.name %>
      <span style="display: none;" class="<%= level || 0 %>">
      <%= link_to 'Edit', edit_admin_category_path(category) %> |
      <%= link_to_remote 'Destroy', :url => admin_category_path(category), :method => :delete, :update => 'categories' %> |
      <%= link_to 'Create sub category', new_admin_category_path(:category => { :parent_id => category.id }) %>
      </span>
      <% category.children.each do |child| %>
        <%= render :partial => 'list', :locals => { :categories => [child], :level => (level + 1) } %>
      <% end %>
    </li>
  <% end %>
</ul>
