= display_standard_flashes
%h1
  = I18n.t('category', :count=>2).capitalize
- content_for :tools, link_to(I18n.t('category.create.action').capitalize, new_admin_category_path, :class => 'add' )
#categories
  %ul
    = render :partial => 'list', :locals => { :categories => @categories }
= javascript_include_tag 'jstree/tree_component.min.js', 'jstree/css.js'
= stylesheet_link_tag 'jstree/tree_component.css'
- javascript_tag do
  $(function() {
  tree1 = $.tree_create();
  tree1.init($('#categories'),
  { ui: { theme_path : '/stylesheets/jstree/themes/', theme_name : 'rails-commerce', context : [
  {
  id: 'create',
  = "label: '#{I18n.t('category.create.action')}',"
  icon : 'create.png',
  visible : function (NODE, TREE_OBJ) { if(NODE.length != 1) return false; return TREE_OBJ.check('creatable', NODE); },
  = "action: function(NODE){ document.location = '#{ new_admin_category_path}?category[parent_id]='+$(NODE).attr('id').replace('category_',''); }"
  },
  {
  id: 'edit',
  = "label: '#{I18n.t('category.update.action')}',"
  icon : 'rename.png',
  visible : function (NODE, TREE_OBJ) { if(NODE.length != 1) return false; return TREE_OBJ.check('renameable', NODE); },
  action: function(NODE){ document.location = '/admin/categories/'+$(NODE).attr('id').replace('category_','')+'/edit'; }
  },
  {
  id: 'delete',
  = "label: '#{I18n.t('destroy')}',"
  icon : 'remove.png',
  visible : function (NODE, TREE_OBJ) { if(NODE.length != 1) return false; return TREE_OBJ.check('deletable', NODE); },
  action: function(NODE, TREE_OBJ){
  = remote_function(:url => { :controller => 'categories', :action => 'destroy' }, :with => "'id=' + $(NODE).attr('id').replace('category_','')", :confirm => I18n.t('category.destroy.confirm'), :success => '$.each(NODE, function () { TREE_OBJ.remove(this); });' )
  ; }
  }
  ] }
  }
  );
  });
