#imageUploadDialog.upload-lightbox-container.white
  #imageUpload
  %span= I18n.t('or')
  = link_to_function I18n.t('media.add_form_library'), "$('#imageSelectDialog').dialog('open');"

#imageSelectDialog.media-hoverlay
  .media-hoverlay-header
    = link_to_function content_tag(:span, I18n.t('media.picture.upload.action').capitalize, :class=>'big-icons add-picture'), "$(\'#imageUploadDialog\').dialog(\'open\'); $(\'#imageSelectDialog\').dialog(\'close\')", :class=>'backgrounds button'
    .display-mode
      .heading-separator
      .display-thumbnails
      .display-list.off
    #search.right.image= fg_search
    .backgrounds.search-form-image
    .backgrounds.search-form-thumbnails
  .media-hoverlay-sidebar.grid_3.omega.alpha
    .sidebar-content
      %h2{ :class => 'small-icons picture'}
        = link_to_function I18n.t('media.picture.all').capitalize, "select_all_elements_without_category('picture-attachment-tree')"
      #picture-attachment-tree.init-tree.a-tree
  .media-hoverlay-content.thumbnails
    #thumbnail-table.table.datatable.media.selectable_rows
  .media-hoverlay-content.table.hidden
    %table#image-table.datatable.media.selectable_rows
      %tr
        %td


#fileUploadDialog.upload-lightbox-container.white
  #fileUpload

#fileSelectDialog.media-hoverlay
  #inner-lightbox.backgrounds
    - %w(pdf audio video doc media).each do |file_type|
      = link_to_function I18n.t(:other, :scope => [:media,file_type]), "update_current_dataTable_source('#table-files','#{escape_javascript(forgeos_core.admin_attachments_path(:mode => 'selection',:format => :json, :file_type => file_type))}')", :class => "small-icons #{file_type}"
  .media-hoverlay-header
    = link_to_function content_tag(:span, I18n.t('media.upload.action').capitalize, :class=>'big-icons add-media'), "$(\'#fileUploadDialog\').dialog(\'open\'); $(\'#fileSelectDialog\').dialog(\'close\')", :class=>'backgrounds button'
    #search.right.files= fg_search
    .backgrounds.search-form-files
  .media-hoverlay-content
    %table#table-files.datatable.media.selectable_rows
      %tr
        %td

= dataSlides_tag :url => forgeos_core.admin_attachments_path(:format => :json, :skin => 'thumbnail', :file_type => 'picture', :mode => 'selection'), :columns => [ '{ "bSortable": true, "bSearchable": true, "sType": "string", "bUseRendered": true, "fnRender": null, "iDataSort": 0, "nTf": null, "nTh": function(){$(".thead").find(".th");}, "sWidth": "0px"}','{"bVisible": false}', '{ "bVisible": false }', '{ "bVisible": false}' ], :id => 'thumbnail-table', :autostart => false

= dataTables_tag :id => 'image-table', :url => forgeos_core.admin_attachments_path(:format => :json, :file_type => 'picture',:mode => 'selection'),:columns => ["{'sClass':'th-checkbox-container', 'bSortable': false }",    "{ 'sTitle': '#{I18n.t('media.filename')}'}",    "{ 'sTitle': '#{I18n.t('media.content_type')}'}",    "{ 'sTitle': '#{I18n.t('media.updated_at')}'}",   "{ 'sTitle': '#{I18n.t('media.size')}'}",   '{"bVisible": false}', '{ "bVisible": false }', '{ "bVisible": false}','{ "bVisible": false}',    '{ "bVisible": false}'], :autostart => false

= dataTables_tag :id => 'table-files', :url => forgeos_core.admin_attachments_path(:format => :json, :file_type => 'pdf', :mode => 'selection'), :columns => ["{'sClass':'th-checkbox-container', 'bSortable': false }","{ 'sTitle': '#{I18n.t('media.filename')}'}","{ 'sTitle': '#{I18n.t('media.content_type')}'}","{ 'sTitle': '#{I18n.t('media.updated_at')}'}","{ 'sTitle': '#{I18n.t('media.size')}'}", '{"bVisible": false}', '{ "bVisible": false }','{ "bVisible": false}','{ "bVisible": false}','{ "bVisible": false}'], :autostart => false

:javascript
  function initImageUpload(link) {
    jQuery('#imageUploadDialog').html('<div id="imageUpload"></div><div class="library-add"><span>#{t(:or)}</span><a href="#" onclick="jQuery(\'#imageUploadDialog\').dialog(\'close\'); jQuery(\'#imageSelectDialog\').dialog(\'open\'); return false;">#{t('media.add_form_library')}</a></div>');
    var uploadify_datas = { "format": "json" };
    uploadify_datas[window._forgeos_js_vars.session_key] = window._forgeos_js_vars.session;

    jQuery('#imageUpload').uploadify({
      "uploader": "/images/uploadify/uploadify.swf",
      "cancelImg": "#{image_path("admin/big-icons/delete-icon.png")}",
      "buttonImg": "#{image_path("uploadify/upload-picture_#{I18n.locale}.png")}",
      "width": "154",
      "height": "24",
      "scriptData": uploadify_datas,
      "ScriptAccess": "always",
      "multi": "true",
      "displayData": "speed",
      "onComplete": function(e,queueID,fileObj,response,data) {
        if(typeof JSON=="object" && typeof JSON.parse=="function") {
          result = JSON.parse(response);
        } else{
          result = eval('(' + response + ')');
        }
        if (result.result == 'success'){
          add_picture_to_element(result.path,result.id, fileObj.name);
        } else {
          display_notification_message('error',result.error);
        }
      },
      "onAllComplete": function() {
        jQuery('#imageUploadDialog').dialog('close');
      }
    });
  }
  function add_picture_to_element(path,id,name){
    object_name='#{form.object_name}';
    jQuery('#product-images ul.sortable li.clear').before('<li><a href="#" onclick="$(this).parents(\'li\').remove(); check_product_first_image(); return false;" class="big-icons trash"></a><a href="/admin/pictures/'+id+'/edit" onclick ="window.open(this.href); return false;" class="big-icons edit" href="#"></a><input type="hidden" name="'+object_name+'[attachment_ids][]" value="'+id+'"/><img src="'+path+'" alt="'+name+'"/><div class="handler"><div class="inner"></div></div></li>');
  }

  function initFileUpload(link) {
    jQuery('#fileUploadDialog').html('<div id="fileUpload"></div><div class="library-add"><span>#{t(:or)}</span><a href="#" onclick="jQuery(\'#fileUploadDialog\').dialog(\'close\'); jQuery(\'#fileSelectDialog\').dialog(\'open\'); return false;">#{t('media.add_form_library')}</a></div>');
    var uploadify_datas = { "format": "json" };
    uploadify_datas[window._forgeos_js_vars.session_key] = window._forgeos_js_vars.session;

    jQuery('#imageUpload').uploadify({
      "uploader": "/images/uploadify/uploadify.swf",
      "cancelImg": "#{image_path("admin/big-icons/delete-icon.png")}",
      "buttonImg": "#{image_path("uploadify/choose-file_#{I18n.locale}.png")}",
      "width": "154",
      "height": "24",
      "scriptData": uploadify_datas,
      "ScriptAccess": "always",
      "multi": "true",
      "displayData": "speed",
      "onComplete": function(e,queueID,fileObj,response,data) {
        if(typeof JSON=="object" && typeof JSON.parse=="function") {
          result = JSON.parse(response);
        } else{
          result = eval('(' + response + ')');
        }
        if (result.result == 'success'){
          add_attachment_to_product(result.id,fileObj.name,result.size,result.type);
        } else {
          display_notification_message('error',result.error);
        }
      },
      "onAllComplete": function() {
        jQuery('#fileUploadDialog').dialog('close');
      }
    });
  }
  function add_attachment_to_product(id,name,size,type){
    object_name='#{form.object_name}';
    jQuery('#product-files').append('<div class="block-container"><input type="hidden" name="'+object_name+'[attachment_ids][]" value="'+id+'" /><span class="block-type"><span class="handler"><span class="inner">&nbsp;</span></span>'+type+'</span><span class="block-name">'+name+'<span class="file-size">- '+size+'</span></span><a href="/admin/'+type[0].toLowerCase()+'s/'+id+'/edit" onclick ="window.open(this.href); return false;" class="small-icons edit-link"></a><a href="#" class="big-icons gray-destroy"></a></div>');
  }

= javascript_include_tag %w(swfobject jquery.uploadify)
