= include_tiny_mce_if_needed

- form_for [:admin, product], :html => { :id => 'wrap' } do |f|
  .backgrounds.big-header
    = f.text_field :name
    .interact-links
      = fg_submit_tag (product.new_record? ? 'product.create.action' :'save_changes')
      = I18n.t('or')
      = link_to I18n.t('cancel').capitalize, admin_products_path, :class => 'back-link'

  #content.grid_16.alpha.omega
    #product.grid_12.alpha
      %h2.permalink
        = I18n.t('permalink').capitalize
        \:
        = "#{request.protocol}#{request.host}/"
        = f.text_field :url
      .grid_9.omega
        .grid_4.alpha.omega
          = f.label :price, "#{I18n.t('price', :count => 1).capitalize}<sup class=\"required\">*</sup>"
          = f.text_field :price, :class => 'backgrounds grid_2 alpha omega', :id => 'price'
          %span.currency
            = $currency.html
        = f.label :product_type_id, "#{I18n.t('product_type', :count => 1).capitalize}<sup class=\"required\">*</sup>"
        %div
          = f.collection_select :product_type_id, ProductType.all, :id, :name, { :prompt => I18n.t('please_select') }
        .tool-tip-me
          .stock
            %label{ :for => "product-stock" }
              Stock
            %div
              %select#product-stock{ :name => "product-stock" }
                %option{ :selected => "selected", :value => "default" }
                  Track low stock level
          #product-in-stock.tool-tip-content
            .content
              = f.label :stock, I18n.t('stock', :count => 1).capitalize
              = f.text_field(:stock, :class => 'background')
              %label{ :for => "out-stock-action" }
                if out of sotck
              %div
                %select
                  %option{ :selected => "selected", :value => "0" }
                    stop sales
              .clear
          .clear

      #product-images.grid_3.omega
        #featured-picture
          = I18n.t('picture.featured').capitalize
        = hidden_field_tag "#{f.object_name}[attachment_ids][]"
        %ul.sortable
          - product.pictures.each do |picture|
            %li
              = link_to_function '', "$(this).parents('li').remove()", :title => I18n.t('picture.destroy.confirm').capitalize, :class => 'big-icons trash'
              = link_to '', [:edit, :admin, picture], :class => 'big-icons edit'
              = hidden_field_tag "#{f.object_name}[attachment_ids][]", picture.id
              = image_tag picture.public_filename('')
              .handler
                .inner
          %li.clear
        = link_to content_tag(:span, I18n.t('picture.add').capitalize, :class=>'big-icons add-picture'), '#', :class=>'backgrounds button'
      .clear
      .grid_12.omega
        = f.label :description, I18n.t('description').capitalize
        %div{ :style => 'clear: left;'}
          = f.text_area :description, :cols => 80, :class => 'mceEditor'
      .option-panel
        .backgrounds.content-header
        %a.small-icons.panel{ :href => "#" }
          linked files
        .option-panel-content
          %a#add-file.backgrounds.button.right{ :href => "#" }
            %span.big-icons.add-file
              = I18n.t('add_file').capitalize
          #product-files.grid_9.sortable
            - product.attachments.all(:conditions => ['type != "Picture"']).each do |attachment|
              .block-container
                = hidden_field_tag "#{f.object_name}[attachment_ids][]", attachment.id
                %span.block-type
                  %span.handler
                    %span.inner
                      &nbsp;
                  = attachment.type.to_s.upcase
                %span.block-name
                  = attachment.filename
                  %span.file-size
                    = "- #{attachment.size} Ko"
                %a.big-icons.gray-destroy{:href => '#'}
          .clear
      .option-panel
        .backgrounds.content-header
        %a.small-icons.panel{ :href => "#" }
          = I18n.t('attributes')
        #product-types-panel.option-panel-content
          = render :partial => 'options', :locals => { :product_type => product.product_type, :product => product }
      .option-panel.disabled
        .backgrounds.content-header
        %a.small-icons.panel{ :href => "#" }
          variants
        .option-panel-content
          %a.backgrounds.button.right{ :href => "#" }
            %span.small-icons.add-variant
              Create a variant
          .block-container
            %span.block-type
            %span.block-name
              %a.small-icons.panel{ :href => "#" }
                Domaine de Villemont 2008 37cl
            .variant

    #right-sidebar.grid_4.omega
      .step.status.open
        %div
          = f.select :active, [[I18n.t('unpublished'), 0], [I18n.t('published'), 1]], :selected => product.active ? 1 : 0, :class => 'published'
        .clear
        = f.check_box :on_first_page
        = I18n.t('show_on_homepage').capitalize
        %br
        /
          %input#limited-time-offer.check-me-it-appears{ :name => "limited-time-offer", :type => "checkbox" }
          Limited time offer
          .i-will-appear
            %span
              Stop after
              %input#limited-time-offer-end{ :name => "limited-time-offer-end", :type => "text" , :value => 'dd/mm/yyyy'}
          %br
          %input#limited-sales-offer.check-me-it-appears{ :name => "limited-sales-offer", :type => "checkbox" }
          Limited sales offer
          .i-will-appear
            %span
              Stop after
              %input#limited-sales-offer-end{ :name => "limited-sales-offer-end", :type => "text" }
              sales
      .step
        - unless product.new_record?
          = link_to I18n.t('page.duplicate').capitalize, [:duplicate, :admin, product], :class => 'small-icons duplicate'
          = link_to I18n.t('product.destroy.action').capitalize, [:admin, product], :confirm => I18n.t('product.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
      .step.open
        %a.small-icons.step-title{ :href => "#" }
          Associated to collection
        #association-product-tree.inner-step
          %ul
            = render :partial => 'admin/categories/associated_elements', :locals => { :association_id => 'product_category_ids', :element => product, :category_ids => product.product_category_ids, :categories => ProductCategory.find_all_by_parent_id(nil) }
          .clear
      .step.open
        %a.small-icons.step-title{ :href => "#" }
          = I18n.t('delivery').capitalize
        .inner-step.weight
          %label{ :for => "weight" }
            = I18n.t('weight').capitalize
            %br
          = f.text_field 'weight', :class => 'product_weight', :id => 'weight'
          KG
          %a.add_size.right.disabled{ :href => "#"}
            Add Size
      .step.open
        %a.small-icons.step-title{ :href => "#" }
          Tags
        .inner-step.tags
          = hidden_field_tag 'tag_list[]', ''
          %input#tag.backgrounds{ :name => "tag", :type => "text" }
          - product.tag_list.each do |tag|
            %span
              = tag
              = hidden_field_tag 'tag_list[]', tag
              = link_to '&nbsp;', '#', :class => 'big-icons gray-destroy'
      .step.open
        %a.small-icons.step-title{ :href => "#" }
          = I18n.t('meta_description').capitalize
        .inner-step.meta
          - product.build_meta_info unless product.meta_info
          - f.fields_for :meta_info do |meta_info|
            %p
              %span
                = I18n.t('title').capitalize
                \:
              = meta_info.text_area :title, :class => 'text'
            %p
              %span
                = I18n.t('description').capitalize
                \:
              = meta_info.text_area :description, :class => 'text'
            %p
              %span
                = I18n.t('keyword', :count => 2).capitalize
                \:
              = meta_info.text_area :keywords, :class => 'text'
      .step.disabled
        %a.small-icons.step-title{ :href => "#" }
          Graphic template
        .inner-step.glossy
          %select{ :name => "design" }
            %option{ :selected => "selected", :value => "default" }
              Corporate blue design
            %option{ :value => "no" }
              Corporate green design
        .clear
    .clear
  #imageUploadDialog.upload-lightbox-container.white
    #imageUpload
      = f.file_field :uploaded_data
      = hidden_field_tag :target, params[:target]
      = hidden_field_tag :target_id, params[:target_id]
      = f.submit I18n.t('save').capitalize

  - session_key = ActionController::Base.session_options[:key]
  - javascript_tag do
    function initImageUpload(){
    $('#imageUploadDialog').html('<div id="imageUpload"></div>');
    $('#imageUpload').uploadify({
    'uploader': '/images/uploadify/uploadify.swf',
    = "'cancelImg': '#{image_path('admin/big-icons/delete-icon.png')}',"
    = "'script': '#{admin_medias_path(:file_type => 'picture')}',"
    = "'buttonImg' :'#{image_path("uploadify/upload-button_#{I18n.locale}.png")}',"
    'width' :'154',
    'height' :'24',
    'scriptData': {
    'format': 'json',
    = "'authenticity_token': encodeURIComponent('#{u form_authenticity_token}')," if protect_against_forgery?
    = "'#{session_key}': encodeURIComponent('#{cookies[session_key]}')"
    },
    'ScriptAccess': 'always',
    'multi': 'true',
    'displayData': 'speed',
    'onComplete': function(e,queueID,fileObj,response,data){
    result = JSON.parse(response);
    if (result.result == 'success'){
    image_path = result.path;
    image_id = result.id;
    = "object_name='#{f.object_name}';"
    $('#product-images ul.sortable li.clear').before('<li><a href="#" onclick="$(this).parents(\'li\').remove(); return false;" title="" class="big-icons trash"></a><a class="big-icons edit" href="#"></a><input type="hidden" name="'+object_name+'[attachment_ids][]" value="'+image_id+'"/><img src="'+image_path+'" alt="'+fileObj.name+'"/><div class="handler"><div class="inner"></div></div></li>');
    } else {
    display_notification_message('error',result.error)
    }
    },
    'onAllComplete': function(){
    $('#product-images .sortable li:eq(0)').addClass('first-image');
    $('#imageUploadDialog').dialog('close');
    }
    });}

  #fileUploadDialog.upload-lightbox-container.white
    #fileUpload
      = f.file_field :uploaded_data
      = hidden_field_tag :target, params[:target]
      = hidden_field_tag :target_id, params[:target_id]
      = f.submit I18n.t('save').capitalize

  - session_key = ActionController::Base.session_options[:key]
  - javascript_tag do
    function initFileUpload(){
    $('#fileUploadDialog').html('<div id="fileUpload"></div>');
    $('#fileUpload').uploadify({
    'uploader': '/images/uploadify/uploadify.swf',
    = "'cancelImg': '#{image_path('admin/big-icons/delete-icon.png')}',"
    = "'script': '#{admin_medias_path(:file_type => 'picture')}',"
    = "'buttonImg' :'#{image_path("uploadify/upload-button_#{I18n.locale}.png")}',"
    'width' :'154',
    'height' :'24',
    'scriptData': {
    'format': 'json',
    = "'authenticity_token': encodeURIComponent('#{u form_authenticity_token}')," if protect_against_forgery?
    = "'#{session_key}': encodeURIComponent('#{cookies[session_key]}')"
    },
    'ScriptAccess': 'always',
    'multi': 'true',
    'displayData': 'speed',
    'onComplete': function(e,queueID,fileObj,response,data){
    result = JSON.parse(response);
    if (result.result == 'success'){
    file_path = result.path;
    file_id = result.id;
    file_type = result.type;
    file_size = result.size;
    = "object_name='#{f.object_name}';"
    $('#product-files').append('<div class="block-container"><input type="hidden" name="'+object_name+'[attachment_ids][]" value="'+file_id+'" /><span class="block-type"><span class="handler"><span class="inner">&nbsp;</span></span>'+file_type+'</span><span class="block-name">'+fileObj.name+'<span class="file-size">- '+file_size+' Ko</span></span><a href="#" class="big-icons gray-destroy"></a></div>');
    } else {
    display_notification_message('error',result.error)
    }
    },
    'onAllComplete': function(){
    $('#fileUploadDialog').dialog('close');
    }
    });
    }

= stylesheet_link_tag 'admin/uploadify'
= javascript_include_tag %w(swfobject jquery.uploadify)
