= render :partial => 'admin/menus/lang_switcher'
- form_for [:admin, product], :html => { :id => 'wrap' } do |f|
  = render :partial => 'tabs_product_show'

  #content.grid_16.alpha.omega
    #general{:style => 'padding: 0'}
      = render :partial => 'general', :locals => {:product => product, :f => f}
    #sizes{:style => 'padding: 0'}
      = render :partial => 'sizes', :locals => {:product => product, :f => f}
    #shippings{:style => 'padding: 0'}
      = render :partial => 'shippings', :locals => {:product => product, :f => f}
    #seo{:style => 'padding: 0'}
      = render :partial => 'seo', :locals => {:product => product, :f => f}
      
      
