#tabs
  %ul
    %li
      %a{ :href => "#tabs-1" }
        = I18n.t('information', :count=>2).capitalize
    %li
      %a{ :href => "#tabs-2" }
        = I18n.t('picture', :count => 2).capitalize
  #tabs-1
    - form_for [:admin, product], :html => { :id => 'static_attributes' } do |f|
      = f.error_messages
      %p
        %b
          = f.label :deleted, I18n.t('deleted').capitalize
          \:
        = f.check_box :deleted
      %p
        %b
          = f.label :product_type_id, I18n.t('product_type', :count => 1).capitalize
          \:
        = f.collection_select :product_type_id, ProductType.all, :id, :name, { :prompt => true }
      %p
        %b
          = f.label :categories, I18n.t('category', :count => 2).capitalize
          \:
        #categories
          %ul
            = render :partial => 'admin/categories/list', :locals => { :categories => Category.find_all_by_parent_id(nil) }
        = product_categories_tree(product.category_ids)
      %p
        %b
          = f.label :reference, I18n.t('reference').capitalize
          \:
        = f.text_field :reference
      %p
        %b
          = f.label :name, I18n.t('name').capitalize
          \:
        = f.text_field :name
      %p
        %b
          = f.label :description, I18n.t('description').capitalize
          \:
        = f.text_area :description
      %p
        %b
          = f.label :selling_date, I18n.t('selling_date').capitalize
          \:
        = f.date_select :selling_date, :include_blank => true
      %p
        %b
          = f.label :offer_month, I18n.t('offer_month').capitalize
          \:
        = f.check_box :offer_month
      %p
        %b
          = f.label :on_first_page, I18n.t('on_first_page').capitalize
          \:
        = f.check_box :on_first_page
      %p
        %b
          = f.label :stock, I18n.t('stock', :count => 1).capitalize
          \:
        = f.text_field :stock
      %p
        %b
          = f.label :price, I18n.t('price', :count => 1).capitalize
          \:
        = f.text_field :price
      %p
        %b
          = f.label :rate_tax, I18n.t('rate_tax').capitalize
          \:
        = f.text_field :rate_tax
      %p
        %b
          = f.label :weight, I18n.t('weight').capitalize
          \:
        = f.text_field :weight
      %p
        %b
          = f.label :keywords, I18n.t('keyword', :count => 2).capitalize
          \:
        = f.text_field :keywords
      %p
        %b
          = f.label :url, I18n.t('url', :count => 2).capitalize
          \:
        = f.text_field :url
      - unless product.new_record? || product.product_type.nil?
        - product.product_type.tattributes.each do |tattr|
          %p
            %b
              = label_tag tattr.name
              \:
            - unless tattr.dynamic?
              = select_tag "product[tattribute_value_ids][]", options_from_collection_for_select(tattr.tattribute_values, :id, :name, (tattr.tattribute_value_ids & product.tattribute_value_ids)), :multiple => true
            - else
              - dynamic_attribute = product.dynamic_tattribute_values.find_by_tattribute_id(tattr.id)
              = text_field "dynamic_tattribute_values[#{tattr.id}]", 'value', :value => (dynamic_attribute.value unless dynamic_attribute.nil?)
      %center
        = f.submit I18n.t('save').capitalize
    - if product.new_record?
      = observe_field('product_name', :frequency => 1, :loading => "$('#product_url').addClass('loading')", :complete => "$('#product_url').val(request.responseText); $('#product_url').removeClass('loading')", :url => url_admin_products_path, :with => "'url=' + value", :datatype => 'text')
  #tabs-2
    #product_pictures
      = link_to_unless product.new_record?,I18n.t('picture.create.action').capitalize, new_admin_picture_path(:target => 'product', :target_id => product.id), :class => 'add'
      #list_pictures
        = render :partial => 'admin/pictures/list', :locals => { :pictures => product.attachments.find_all_by_type('Picture'), :target => 'product', :target_id => product.id }
= javascript_tag "$(function(){ $('#tabs').tabs(); })"
