<%= display_standard_flashes %>
<fieldset>
  <legend><%= link_to_effect_toggle(I18n.t('attribute', :count => 2).capitalize,'static_attributes') %></legend>
  <% form_for :product_detail, :url => { :id => (product_detail.id || product_detail.product_parent.id) }, :html => { :id => 'static_attributes' } do |f| %>

    <p><b><%= f.label :deleted, I18n.t('deleted').capitalize %> : </b><%= f.check_box :deleted %></p>
    <p>
      <b><%= f.label :categories, I18n.t('category', :count => 2).capitalize %> : </b>
      <div id="categories">
        <ul>
          <%= render :partial => 'admin/categories/list', :locals => { :categories => Category.find_all_by_parent_id(nil) } %>
        </ul>
      </div>
      <%= hidden_field_tag 'product_parent[category_ids][]' %>
      <%= javascript_include_tag 'jstree/tree_component.min.js', 'jstree/css.js' %>
      <%= stylesheet_link_tag 'jstree/tree_component.css' %>
      <%= javascript_tag("$(function() { tree1 = $.tree_create(); tree1.init($('#categories'), { 
                  ui: { theme_path : '/stylesheets/jstree/themes/', theme_name : 'rails-commerce', context : [] },
                  rules : { multiple : 'on' },
                  callback : {
                    onselect : function(NODE,TREE_OBJ) {
                    if (TREE_OBJ.get_type(NODE) == 'folder') { 
                      $(NODE).children('ul').children().each( function(){TREE_OBJ.select_branch(this,true);})
                    } else {
                    cat_id = $(NODE).attr('id').replace('category_',''); 
                    if ($('#cat_'+cat_id).size() == 0) { $('#categories').after('<input type=\"hidden\" value=\"'+cat_id+'\" name=\"product_detail[category_ids][]\" id=\"cat_'+cat_id+'\" />'); } } },
                    ondeselect : function(NODE,TREE_OBJ) { 
                    if (TREE_OBJ.get_type(NODE) == 'folder') { 
                      $(NODE).children('ul').children().each( function(){TREE_OBJ.deselect_branch(this,true);})
                    }
                    cat_id = $(NODE).attr('id').replace('category_','');
                    if ($('#cat_'+cat_id).size() != 0) { $('#cat_'+cat_id).remove(); }
                  }},
                  selected : ['#{product_detail.category_ids.collect{|cat| "category_#{cat}"}.join('\',\'')}'] }); });") -%>
    </p>
    <p><b><%= f.label :reference, I18n.t('reference').capitalize %> : </b><%= f.text_field :reference %></p>
    <p><b><%= f.label :name, I18n.t('name').capitalize %> : </b><%= f.text_field :name %></p>
    <p><b><%= f.label :description, I18n.t('description').capitalize %> : </b><%= f.text_area :description %></p>
    <p><b><%= f.label :selling_date, I18n.t('selling_date').capitalize %> : </b><%= f.date_select :selling_date, :include_blank => true %></p>
    <p><b><%= f.label :offer_month, I18n.t('offer_month').capitalize %> : </b><%= f.check_box :offer_month %></p>
    <p><b><%= f.label :on_first_page, I18n.t('on_first_page').capitalize %> : </b><%= f.check_box :on_first_page %></p>
    <p><b><%= f.label :stock, I18n.t('stock', :count => 1).capitalize %> : </b><%= f.text_field :stock %></p>
    <p><b><%= f.label :price, I18n.t('price', :count => 1).capitalize %> : </b><%= f.text_field :price %></p>

    <% product_detail.attributes_groups.each do |attr_group| %>
      <p><b><%= label_tag attr_group.name %> : </b>
      <% unless attr_group.dynamic? %>
        <%= select_tag "product_detail[tattribute_ids][]",
            options_from_collection_for_select(attr_group.tattributes, :id, :name,
              (attr_group.tattribute_ids & product_detail.tattribute_ids)),
            :multiple => true %>
      <% else %>
        <% dynamic_attribute = product_detail.dynamic_attributes.find_by_attributes_group_id(attr_group.id) %>
        <%= text_field "dynamic_attributes[#{attr_group.id}]", 'value', :value => (dynamic_attribute.value unless dynamic_attribute.nil?) %>
      <% end %>
      </p>
    <% end %>
    <center><%= f.submit I18n.t('save').capitalize %></center>
  <% end %>
</fieldset>

<fieldset>
  <legend><%= link_to_effect_toggle(I18n.t('picture', :count => 2).capitalize,'product_pictures') %></legend>
  <div id="product_pictures">
    <%= link_to_unless product_detail.new_record?,I18n.t('picture.create.action').capitalize,
      new_admin_picture_path(:target => 'product', :target_id => product_detail.id),
      :class => 'add' %>
    <div id="list_pictures">
      <%= render :partial => 'admin/pictures/list', :locals => { :pictures => product_detail.pictures, :target => 'product', :target_id => product_detail.id } %>
    </div>
  </div>
</fieldset>

<%= hide_html_elements_onload %w[static_attributes product_pictures] %>
<% content_for :tools do %>
  <%= link_to(I18n.t('product.update.action').capitalize, edit_admin_product_path(product_detail.product_parent), :class => 'manage' ) if product_detail.product_parent %>
<% end %>
