<% form_for :product_detail,
    :url => { :id => (product_detail.id || product_detail.product_parent.id) } do |f| %>
 <p><b><%= f.label :offer_month %> : </b><%= f.check_box :offer_month %></p>
 <p><b><%= f.label :on_first_page %> : </b><%= f.check_box :on_first_page %></p>
 <p><b><%= f.label :stock %> : </b><%= f.text_field :stock %></p>
 <p><b><%= f.label :price %> : </b><%= f.text_field :price %></p>

  <% product_detail.attributes_groups.each do |attr_group| %>
    <p><b><%= label_tag attr_group.name %> : </b>
    <% unless attr_group.tattributes.empty? %>
      <%= select_tag "product_detail[tattribute_ids][]",
        options_from_collection_for_select(attr_group.tattributes, :id, :name,
          (attr_group.tattribute_ids & product_detail.tattribute_ids)),
        :multiple => true %>
    <% else %>
      <% dynamic_attribute = product_detail.dynamic_attributes.find_by_attributes_group_id(attr_group.id) %>
      <%= text_field "dynamic_attributes[#{attr_group.id}]", 'value', :value => (dynamic_attribute.value unless dynamic_attribute.nil?) %>
    <% end %>
    </p>
  <% end %>
  <%= f.submit 'save' %> 
<% end %>
