- form_for [:admin, product] do |f|
  %p
    %b
      = f.label :offer_month, I18n.t('offer_month').capitalize
      \:
    = f.check_box :offer_month
  %p
    %b
      = f.label :on_first_page, I18n.t('on_first_page').capitalize
      \:
    = f.check_box :on_first_page
  %p
    %b
      = f.label :stock, I18n.t('stock', :count => 1).capitalize
      \:
    = f.text_field :stock
  %p
    %b
      = f.label :price, I18n.t('price', :count => 1).capitalize
      \:
    = f.text_field :price
  %p
    %b
      = f.label :deleted, I18n.t('deleted').capitalize
      \:
    = f.check_box :deleted
    - (product.dynamic_tattributes + product.product_type.tattributes).each do |tattr|
      %p
        %b
          = label_tag tattr.name
          \:
        - unless tattr.dynamic?
          = select_tag "product[tattribute_value_ids][]", options_from_collection_for_select(tattr.tattribute_values, :id, :name, (tattr.tattribute_value_ids & product.tattribute_value_ids)), :multiple => true
        - else
          - dynamic_attribute = product.dynamic_tattribute_values.find_by_tattribute_id(tattr.id)
          = text_field "dynamic_attribute_values[#{tattr.id}]", 'value', :value => (dynamic_attribute.value unless dynamic_attribute.nil?)
  = f.submit I18n.t('save').capitalize
