<h1><%= I18n.t('product', :count => 2).humanize %></h1>
<% @content_for_tools << link_to(I18n.t('create_product').humanize, new_admin_product_path, :class => 'add' ) %>
<%= display_standard_flashes %>
<div id="list">
  <table>
    <thead>
      <th><%= I18n.t('reference').humanize %></th>
      <th><%= I18n.t('name').humanize %></th>
      <th><%= I18n.t('description').humanize %></th>
      <th><%= I18n.t('product_detail', :count => 2).humanize %></th>
      <th><%= I18n.t('category', :count => 2).humanize %></th>
      <th><%= I18n.t('action', :count => 2).humanize %></th>
    </thead>
    <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%=h product.reference %></td>
      <td><%=h product.name %></td>
      <td><%=h truncate(product.description, :length => 230) %></td>
      <td><%= product.product_details.count %></td>
      <td><%= product.categories.collect{ |cat| cat.name }.join(', ') %></td>
      <td>
        <%= link_to I18n.t('edit').humanize, edit_admin_product_path(product) %> -
        <%= link_to I18n.t('destroy').humanize, admin_product_path(product), :method => :delete, :confirm => I18n.t('confirm_delete_product').humanize %>
      </td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
