- content_for :tools, link_to(I18n.t('tattribute.update.action').capitalize, [:edit, :admin, tattribute_value.tattribute], :class => 'manage')
#tabs
  %ul
    %li
      %a{ :href => "#tabs-1" }
        = I18n.t('information', :count =>2).capitalize
    - unless tattribute_value.new_record?
      %li
        %a{ :href => "#tabs-2" }
          = I18n.t('picture', :count=>2).capitalize
  #tabs-1
    - form_for [:admin, tattribute_value], :html => { :id => 'static_tattribute_values' } do |f|
      = f.hidden_field :tattribute_id
      %p
        %b
          = f.label :name, I18n.t('name').capitalize
          \:
        = f.text_field :name
      %center
        = f.submit I18n.t('save').capitalize
  #tabs-2
    #tattribute_values_pictures
      = link_to_unless tattribute_value.id.nil?, I18n.t('picture.create.action').capitalize,  new_admin_picture_path(:target => 'tattribute_value', :target_id => tattribute_value.id), :class => 'add'
      #list_pictures
        = render :partial => 'admin/pictures/list', :locals => { :pictures => tattribute_value.attachments.find_all_by_type('Picture'), :target => 'tattribute_value', :target_id => tattribute_value.id }

= javascript_tag "$(function(){ $('#tabs').tabs(); })"
