= display_standard_flashes
= link_to_unless tattribute.id.nil?, I18n.t('tattribute_value.create.action').capitalize, new_admin_tattribute_value_path(tattribute.id), :class => 'add'
%table
  %thead
    %tr
      %th
        = I18n.t('value', :count=>1).capitalize
      %th
        = I18n.t('action', :count=>2).capitalize
  %tbody
    - tattribute.tattribute_values.each do |tattribute_value|
      %tr
        %td
          = tattribute_value.name
        %td
          = link_to I18n.t('edit').capitalize, [:edit, :admin, tattribute_value]
          \-
          = link_to_remote I18n.t('destroy').capitalize, :url => [:admin, tattribute_value], :method => 'delete', :update => 'tattribute_values', :confirm => I18n.t('tattribute_value.destroy.confirm').capitalize
