- f.fields_for :address_invoices do |address_invoice|
  .fieldset.invoice-address
    %a.small-icons.panel{ :href => '#' }
      = I18n.t('address.invoice', :count => 1)
    .option-panel-content
      .street-input
        %label= I18n.t(:designation).capitalize
        = address_invoice.text_field :designation
      .street-input
        %label= I18n.t(:civility, :count => 1).capitalize
        = address_invoice.select :civility, I18n.t('civility.select'), :prompt => I18n.t('please_select')
      .clear
      .street-input
        %label= I18n.t(:lastname).capitalize
        = address_invoice.text_field :name
      .street-input
        %label= I18n.t(:firstname).capitalize
        = address_invoice.text_field :firstname
      .street-input
        %label= I18n.t(:address, :count => 1).capitalize
        = address_invoice.text_field :address
      .street-input
        %label= I18n.t(:address, :count => 1).capitalize
        = address_invoice.text_field :address_2
      .zip-code-input
        %label= I18n.t(:zip_code).capitalize
        = address_invoice.text_field :zip_code
      .town-input
        %label= I18n.t(:city).capitalize
        = address_invoice.text_field :city
      .country-select
        %label= I18n.t(:country).capitalize
        = address_invoice.collection_select 'country_id', Country.find(:all, :order => "name"), :id, :printable_name, :selected => user.country_id, :prompt => I18n.t('please_select')
      .clear
      %br
      = I18n.t('address.billing_same_as_delivery').capitalize
      = radio_button_tag :same_as_delivery, :true, false
      = I18n.t(:_yes).capitalize
      = radio_button_tag :same_as_delivery, :false, true
      = I18n.t(:_no).capitalize
    .clear
