= f.fields_for :address_deliveries do |address_delivery|
  .fieldset.delivery-address.open
    %a.small-icons.panel{ :href => '#' }
      = I18n.t('address.delivery', :count => 1)
    .option-panel-content
      .street-input
        %label= I18n.t(:designation).capitalize
        = address_delivery.text_field :designation
      .street-input
        = check_box_tag :same_people_infos
        = I18n.t('address.same_people_infos')
      .people_infos
        .street-input
          %label= I18n.t(:civility, :count => 1).capitalize
          = address_delivery.select :civility, I18n.t('civility.select'), :prompt => I18n.t('please_select')
        .clear
        .street-input
          %label= I18n.t(:lastname).capitalize
          = address_delivery.text_field :lastname
        .street-input
          %label= I18n.t(:firstname).capitalize
          = address_delivery.text_field :firstname
      .street-input
        %label= I18n.t(:address, :count => 1).capitalize
        = address_delivery.text_field :address
      .street-input
        %label= I18n.t(:address, :count => 1).capitalize
        = address_delivery.text_field :address_2
      .zip-code-input
        %label= I18n.t(:zip_code).capitalize
        = address_delivery.text_field :zip_code
      .town-input
        %label= I18n.t(:city).capitalize
        = address_delivery.text_field :city
      .country-select
        %label= I18n.t(:country).capitalize
        = address_delivery.collection_select :country_id, Country.find(:all, :order => "name"), :id, :printable_name, :prompt => I18n.t('please_select')
      .clear
