= display_standard_flashes
%table#table.datatable
  %thead
    %tr
      %th
        = I18n.t('avatar').capitalize
      %th
        = I18n.t('civility').capitalize
      %th
        = I18n.t('name').capitalize
      %th
        = I18n.t('email').capitalize
      %th
        = I18n.t('joined_on').capitalize
      %th
        = I18n.t('active').capitalize
        ?
  %tbody