<%= display_standard_flashes %>
<table>
  <thead>
    <th><%= I18n.t('avatar').capitalize %></th>
    <th><%= I18n.t('name').capitalize %></th>
    <th><%= I18n.t('email').capitalize %></th>
    <th><%= I18n.t('created_on').capitalize %></th>
    <th><%= I18n.t('active').capitalize %> ?</th>
    <th><%= I18n.t('actions').capitalize %></th>
  </thead>
  <tbody>
    <% if users.empty? %>
      No users
    <% else %>
      <% users.each do |user| %>
        <tr>
          <td><%= image_tag(user.avatar.public_filename(:small)) if user.avatar %></td>
          <td><%=h user.fullname %></td>
          <td><%=h user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= (user.active? ? I18n.t('_yes') : I18n.t('_no')).capitalize %></td>
          <td>
            <%= link_to_remote(I18n.t('activate').capitalize,
                               :url => { :controller => 'admin/users', :action => 'activate', :id => user.id },
                               :update => 'users')+ ' -' unless user.active? %>
            <%= link_to I18n.t('edit').capitalize, edit_admin_user_path(user) %> -
            <%= link_to_remote I18n.t('destroy').capitalize,
            :url => admin_user_path(user), :method => 'delete',
            :confirm => I18n.t('user.destroy.confirm').capitalize, :update => 'users' %>
          </td>
        </tr>
      <% end %>
    <% end %>
</tbody>
</table>

<% content_for :tools do %>
  <%= link_to(I18n.t('user.create.action').capitalize, new_admin_user_path, :class => 'add') %>
<% end %>
