<%= display_standard_flashes %>
<table>
  <thead>
    <th><%= I18n.t('avatar').humanize %></th>
    <th><%= I18n.t('name').humanize %></th>
    <th><%= I18n.t('email').humanize %></th>
    <th><%= I18n.t('created_on').humanize %></th>
    <th><%= I18n.t('active').humanize %> ?</th>
    <th><%= I18n.t('actions').humanize %></th>
  </thead>
  <tbody>
    <% if users.empty? %>
      No users
    <% else %>
      <% users.each do |user| %>
        <tr>
          <td><%= image_tag(user.avatar.public_filename(:small)) if user.avatar %></td>
          <td><%=h user.fullname %></td>
          <td><%=h user.email %></td>
          <td><%= user.created_at %></td>
          <td><%= (user.active? ? I18n.t('_yes') : I18n.t('_no')).humanize %></td>
          <td>
            <%= link_to_remote(I18n.t('activate').humanize,
                               :url => { :controller => 'admin/users', :action => 'activate', :id => user.id },
                               :update => 'users')+ ' -' unless user.active? %>
            <%= link_to I18n.t('edit').humanize, edit_admin_user_path(user) %> -
            <%= link_to_remote I18n.t('destroy').humanize,
            :url => admin_user_path(user), :method => 'delete',
            :confirm => I18n.t('confirm_delete_user').humanize, :update => 'users' %>
          </td>
        </tr>
      <% end %>
    <% end %>
</tbody>
</table>

<% @content_for_tools << link_to(I18n.t('create_user').humanize, new_admin_user_path, :class => 'add') %>
