%h1
  = I18n.t('user', :count => 2).capitalize
- form_tag :controller => 'admin/users', :action => 'filter' do
  %p
    %b
      = label_tag 'filter', 'Filters'
      \:
    %p
      = label_tag 'filter[gender]', 'Genders'
      \:
      = select_tag 'filter[gender]', options_for_select({"All" => 0,"Men" => 1, "Women" => 2}, @gender.to_i)
      = label_tag 'filter', 'Filters'
      \:
      = select_tag 'filter[country]', options_from_collection_for_select_with_include_blank(Country.find(:all, :order => "name"), :id, :printable_name, @country.to_i, :include_blank => true)
      = submit_tag 'Search'
      = submit_tag 'Export'
#users
  = render :partial => 'list', :locals => { :users => @users }

- content_for :tools, link_to(I18n.t('export_newsletter').capitalize, { :controller => 'admin/users', :action => 'export_newsletter', :id => 0}, :class => 'report_seo' )
