#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %span.backgrounds.action-button
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.all-products
      All customers
    #customer-tree
      %ul
        /= render :partial => 'admin/customer/list', :locals => { :categories => Category.all }
#content.grid_12.alpha.omega
  .backgrounds.header
    #search.right
      = fg_search
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    
= dataTables_tag :url => admin_users_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':'#{I18n.t :email}'}","{'sTitle':'#{I18n.t :order, :count => 2}'}","{'sTitle':'#{I18n.t :total}'}","{'sTitle':'#{I18n.t :last_order}'}","{'sTitle':'#{I18n.t :joined_on}'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
