= render :partial => 'tabs'
= render :partial => 'admin/sidebars/left_sidebar', :locals => { :icon_class => 'all-users', :sidebar_title => 'user.all', :tree_id =>'user-tree' }
#content.grid_12.alpha.omega
  .backgrounds.header
    = link_to content_tag(:span,I18n.t('user.create.action').capitalize, :class=>'big-icons create-user'), new_admin_user_path, :class=>'backgrounds action-button'
    #search.right
      = fg_search
    .backgrounds.search-form
  .content-background
  %table#table.datatable.draggable_rows
    
= dataTables_tag :url => admin_users_path(:format => :json), :columns => ["{'bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :name}'}","{'sTitle':'#{I18n.t :email}'}","{'sTitle':'#{I18n.t :order, :count => 2}'}","{'sTitle':'#{I18n.t :total}','bSearchable':false,'bSortable':false}","{'sTitle':'#{I18n.t :last_order}'}","{'sTitle':'#{I18n.t :activate}?'}","{'sClass':'actions-td','bSearchable':false,'bSortable':false}"]
