#sidebar.grid_4.omega.alpha
  .backgrounds.header
    %a.backgrounds.action-button{ :href => "#" }
      %span.big-icons.new-category
      %span.small-icons.arrow
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons.all-products
      All customers
    #role-tree
      %ul
        /= render :partial => 'admin/roles/list', :locals => { :roles => Role.all }
#content.grid_12.alpha.omega
  .backgrounds.header
    #search.right
      = link_to content_tag(:span, I18n.t('search').capitalize, :class => 'small-icons search-span'), '#', :class => 'small-icons left search-link'
    .backgrounds.search-form
  .content-background
  %table#table.datatable
    %thead
      %tr
        %th
        %th
          = I18n.t('name').capitalize
        %th
          = I18n.t('email').capitalize
        %th
          = I18n.t('order', :count => 2).capitalize
        %th
          = I18n.t('total').capitalize
        %th
          = I18n.t('last_order').capitalize
        %th
          = I18n.t('joined_on').capitalize
        %th
    %tbody

= dataTables_tag 8, :url => admin_users_path(:format => :json)
