- order_states_for_select = Order.aasm_states.collect{ |state| [t(state.name, :scope => [:order,:status]),state.name.to_s] }
.backgrounds.big-header
  %h1= @user.fullname
  .interact-links
    = link_to t('user.update.action'), [:edit, :admin, @user], :class => 'backgrounds interact-button'
    = t(:or)
    %a.back-link{ :href => "#" }
      =link_to t('user.back'), admin_users_path, :class => 'back-link'
#content.grid_16.alpha.omega
  #customer-see.grid_12.alpha.omega
    .customer-header.backgrounds
      - if @user.orders.empty?
        = t(:order, :count => 0).capitalize
      - else
        %span.small-icons.order= price_with_currency @user.orders.all.sum(&:total)
        = "#{t('user.spent_on')} #{@user.orders.length}"
        = t('order', :count => @user.orders.length)
    %table#table.datatable    
    = dataTables_tag :url => admin_orders_path(:filter => 'user', :user_id => @user.id, :skin => 'read_only', :format => :json), :columns => ["{'bSearchable':false, 'bSortable':false}","{'sTitle':'#{t(:id)}'}","{'sTitle':'#{t(:total)}'}","{'sTitle':'#{t(:product, :count => 1)}'}","{'sTitle':'#{t(:created_on)}'}","{'sTitle':'#{t(:customer, :count => 1)}','bVisible': false}","{'sTitle':'#{t(:status, :count => 1)}'}","{'sClass':'actions-td','bSearchable':false, 'bSortable':false}"]
    .padding-wrap
      .fieldset
        %h3= t('user.customer_infos').capitalize
        .main-infos
          .main-infos-cutomer
            %h4.small-icons= t('user.contact_infos').capitalize
            %p= @user.phone
            %p.customer-email= @user.email
          .main-info-separation.big-separation
          .order-delivery-adress
            %h4.small-icons= t('address.delivery', :count => 1).capitalize
            -@user.address_deliveries.each do |address_delivery|
              %p= address_delivery.address
              %p= address_delivery.address_2 if address_delivery.address_2
              %p
                = address_delivery.zip_code
                = address_delivery.city
              %p= address_delivery.country.name
              %br
              -if address_delivery == @user.address_deliveries.first and @user.address_deliveries.length > 1
                %h4= t('address.delivery', :count => 2).capitalize
          .main-info-separation.big-separation
          .order-billing-adress
            %h4.small-icons= t('address.invoice', :count => 1).capitalize
            %p= @user.address_invoice.address
            %p= @user.address_invoice.address_2 if @user.address_invoice.address_2
            %p
              = @user.address_invoice.zip_code
              = @user.address_invoice.city
            %p= @user.address_invoice.country.name
        .clear
      
  #right-sidebar.grid_4.omega.alpha
    .step
      =mail_to @user.email, t('user.contact').capitalize, :class => 'small-icons contact'
      = link_to t('order.create.action').capitalize, new_admin_order_path(:user_id => @user.id), :class=>'small-icons duplicate'
      = link_to t('user.destroy.action').capitalize, [:admin, @user], :confirm => t('user.destroy.confirm').capitalize, :method => :delete, :class => 'small-icons delete'
    #users_show_special_offer.step.open
      %a.small-icons.step-title.disable{ :href => '#' }
        = t('special_offer', :count => 2).capitalize
    #users_show_newsletter.step.open.disable
      %a.small-icons.step-title{ :href => '#' }
        = t('newsletter', :count => 2).capitalize
    #users_show_history.step.open
      %a.small-icons.step-title{ :href => '#' }
        = t('user.history').capitalize
      .inner-step
        %p
          = t('created_on').capitalize
          = @user.created_at.to_date
          %br
          = t('by')
          = @user.fullname
  .clear
