= display_standard_flashes
%table
  %thead
    %tr
      %th
        = I18n.t('name').capitalize
      %th
        = I18n.t('description').capitalize
      %th
        = I18n.t('action', :count=>2).capitalize
  %tbody
    - transporters.each do |shipping_method|
      %tr
        %td
          = shipping_method.name
        %td
          = shipping_method.description
        %td
          = link_to I18n.t('show').capitalize, admin_shipping_method_path(shipping_method)
          \-
          = link_to I18n.t('edit').capitalize, edit_admin_shipping_method_path(shipping_method)
          \-
          = link_to_remote I18n.t('destroy').capitalize, :url => admin_shipping_method_path(shipping_method), :update => 'shipping_methods', :method => 'delete', :confirm => I18n.t('shipping_method.destroy.confirm').capitalize

- content_for :tools, link_to(I18n.t('shipping_method.create.action').capitalize, new_admin_shipping_method_path, :class => 'add')
