.product
  %h1
    = product.name
    %span
      = "ref. #{product.sku}"
  .product_block
    .image_container
      .first_image_container
        - if product.pictures.blank?
          = image_tag("/images/admin/no-image.png", :alt => "no image") 
        -else
          - picture = product.pictures.first
          =link_to image_tag(picture.public_filename(:normal), :alt => picture.public_filename) ,product.pictures.first.public_filename(:big), :class => "jqzoom"
      .other_views
        -if product.pictures.length > 1
          %span
            Autres vues
          -product.pictures.each do |picture|
            =image_tag(picture.public_filename(:normal), :alt=>picture.public_filename(:big)) if picture != product.pictures.first
    .info_container.to_tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
      %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
        %li.ui-state-default.ui-corner-top.ui-state-active
          %a{ :href => "#descriptif" }
            Descriptif
        %li.ui-state-default.ui-corner-top.ui-state-active
          %a{ :href => "#attributes"}
            Détails
        -product.product_type.product_attributes.find(:all, :conditions => { :type => 'LongtextAttribute' }).each do |attribute|
          %li.ui-state-default.ui-corner-top.ui-state-active
            %a{ :href => "##{attribute.access_method}" }
              =attribute.name
                
      #descriptif.ui-tabs-panel
        .desc
          = product.description

        .price-box
          %span.promo
            =product.special_offer_discount if !product.special_offer_discount.nil?
          -unless product.special_offer_discount.nil?
            %span.old-price
              = number_with_precision(product.price,2)
              = current_currency.html
            %span.new-price
              = number_with_precision(product.new_price,2)
              = current_currency.html
          -else
            %span.price
              = number_with_precision(product.price,2)
              = current_currency.html
        .clear
        -if !product.product_type.product_attributes.find_by_access_method('color').nil? and !product.color.blank?
          .color-picker
            Je choisis ma couleur
            %ul.colors.jcarousel-list
              -product.color.each do |color|
                %li.jcarousel-item
                  %a{:href => "#", :class => color.downcase }
                    %span
        -if !product.product_type.product_attributes.find_by_access_method('size').nil? and !product.size.blank?
          .size-picker
            Je choisis ma taille
            %ul.sizes.jcarousel-list
              -product.size.each do |size|
                %li.jcarousel-item
                  %a{ :href => "#" }
                    =size
        - form_tag :controller => 'cart', :action => 'add_product' do
          .submit_box
            .qty-picker
              %span= t :choose_quantity
              =text_field_tag 'quantity', 1
              =hidden_field_tag :id, product.id
            =submit_tag t(:add_to_cart), :class => 'add_to_cart'
        .clear
        .links
          = link_to_function(t(:print), "javascript:window.print()", :class => 'print') 
          = mail_to "", t('product.signal_to_a_friend'), :subject => 'Demo Forgeos signaler un produit', :class => 'signal_to_a_friend last'
      -product.product_type.product_attributes.find(:all, :conditions => { :type => 'LongtextAttribute' }).each do |attribute|
        %div{:id => attribute.access_method, :class=>'ui-tabs-panel'}
          =product.dynamic_attribute_values.find_by_attribute_id(attribute.id).value
      #attributes.ui-tabs-panel
        -product.dynamic_attribute_values.each do |dynamic_attribute|
          %b= dynamic_attribute.dynamic_attribute.name
          =" : #{dynamic_attribute.value}"
          %br
      
      .clear
    .clear
    .cross-selling
      %h2
        = t :cross_products
        \:
      %ul.cross-sells.jcarousel-list
        - product.cross_sellings.each do |product_cross|
          %li.jcarousel-item
            - link_to product_cross.public_url do
              - picture = product_cross.pictures.first
              - if picture
                = image_tag(picture.public_filename(:normal))
              - else
                %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }
              %span= truncate(product_cross.name,15,' ...')
              %span.price
                = number_with_precision(product_cross.price,2)
                = current_currency.html
- content_for :breadcrumbs do
  = link_to category.name, catalog_path(:url => nil, :category_name => category.name)
  - if @category_choice
    &gt;
    = link_to @category_choice.name, catalog_selected_category_path(:url => nil, :category_name => category.name, :category_choice => @category_choice.name)
- if product.meta_info
  - content_for :title, product.meta_info.title
  - content_for :description, product.meta_info.description
  - content_for :keywords, product.meta_info.keywords
