.product
  %h1
    = product.name
    %span
      = "ref. #{product.sku}"
  .product_block
    .image_container
      .first_image_container
        /%img.first_image{ :title => "image produit", :src => "/images/front_demo/product_image_small.jpg", :alt => "image produit" }
        =image_tag(product.pictures.first.public_filename('')) if !product.pictures.blank?
      .other_views
        %span
          Autres vues
        -product.pictures.each do |picture|
          =image_tag(picture.public_filename('')) if picture != product.pictures.first
        %a.zoom{ :href => "#" }
    .info_container.to_tab
      %ul
        %li
          %a{ :href => "#descriptif" }
            Descriptif
        -product.product_type.options.find(:all, :conditions => { :type => 'LongtextOption' }).each do |option|
          %li
            %a{ :href => "##{option.access_method}" }
              =option.name
                
      #descriptif
        .desc
          = product.description

        .price-box
          %span.promo
            =product.barcode if !product.barcode.nil?
          -price = Product.find_by_id(product.id).price
          -if price != product.price
            %span.old-price
              ="#{price} €" if price != product.price
            %span.new-price
              =product.price
              €
          -else
            %span.price
              =product.price
              €
        .clear
        -if !product.product_type.options.find_by_access_method('color').nil? and !product.color.blank?
          .color-picker
            Je choisis ma couleur
            %ul.colors
              -product.color.each do |color|
                %li
                  %a{:href => "#", :class => color.downcase }
                    %span
        -if !product.product_type.options.find_by_access_method('size').nil? and !product.size.blank?        
          .size-picker
            Je choisis ma taille
            %ul.sizes
              -product.size.each do |size|
                %li
                  %a{ :href => "#" }
                    =size
        - form_tag :controller => 'cart', :action => 'add_product' do
          .submit_box
            .qty-picker
              %span
                Je choisis ma quantité
              =text_field_tag 'quantity', 1
              =hidden_field_tag :id, product.id
            =submit_tag "J'ajoute au panier", :class => 'add_to_cart'
        .clear
        .links
          %a.security{ :href => "#" }
            J'achète en toute confiance
          %a.print{ :href => "javascript:window.print();" }
            J'imprime
          %a.signal_to_a_friend.last{ :href => "#" }
            Je signale ce produit à une amie
      -product.product_type.options.find(:all, :conditions => { :type => 'LongtextOption' }).each do |option|
        %div{:id => option.access_method}
          =product.dynamic_option_values.find_by_tattribute_id(option.id).value
      .clear
    .clear
    .cross-selling
      %h2
        Nous vous proposons de compléter votre tenue avec :
      %ul.cross-sells
        %li
          %a{ :href => "#" }
            %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }
            %span
              La jupe courte
            %span.price
              29,90&euro;
        %li
          %a{ :href => "#" }
            %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }
        %li
          %a{ :href => "#" }
            %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }
        %li
          %a{ :href => "#" }
            %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }
        %li
          %a{ :href => "#" }
            %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }
        %li
          %a{ :href => "#" }
            %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }

-p 'hu'*40
-p product.barcode
-p product.inspect