.product
  %h1
    = product.name
    %span
      = "ref. #{product.sku}"
  .product_block
    .image_container
      .first_image_container
        /%img.first_image{ :title => "image produit", :src => "/images/front_demo/product_image_small.jpg", :alt => "image produit" }
        %a{:href => product.pictures.first.public_filename(:big), :class=>"jqzoom"}
          =image_tag(product.pictures.first.public_filename(:normal) ,:alt=>product.pictures.first.public_filename(:big)) if !product.pictures.blank?
      .other_views
        -if product.pictures.length > 1
          %span
            Autres vues
          -product.pictures.each do |picture|
            =image_tag(picture.public_filename(:normal), :alt=>picture.public_filename(:big)) if picture != product.pictures.first
    .info_container.to_tab.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
      %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
        %li.ui-state-default.ui-corner-top.ui-state-active
          %a{ :href => "#descriptif" }
            Descriptif
        -product.product_type.product_attributes.find(:all, :conditions => { :type => 'LongtextAttribute' }).each do |attribute|
          %li.ui-state-default.ui-corner-top.ui-state-active
            %a{ :href => "##{attribute.access_method}" }
              =attribute.name
                
      #descriptif.ui-tabs-panel
        .desc
          = product.description

        .price-box
          %span.promo
            =product.promo if !product.promo.nil?
          -if !product.new_price.nil? and product.new_price != product.price
            %span.old-price
              ="#{product.price} €" 
            %span.new-price
              =product.new_price
              €
          -else
            %span.price
              =product.price
              €
        .clear
        -if !product.product_type.product_attributes.find_by_access_method('color').nil? and !product.color.blank?
          .color-picker
            Je choisis ma couleur
            %ul.colors.jcarousel-list
              -product.color.each do |color|
                %li.jcarousel-item
                  %a{:href => "#", :class => color.downcase }
                    %span
        -if !product.product_type.product_attributes.find_by_access_method('size').nil? and !product.size.blank?
          .size-picker
            Je choisis ma taille
            %ul.sizes.jcarousel-list
              -product.size.each do |size|
                %li.jcarousel-item
                  %a{ :href => "#" }
                    =size
        - form_tag :controller => 'cart', :action => 'add_product' do
          .submit_box
            .qty-picker
              %span
                Je choisis ma quantité
              =text_field_tag 'quantity', 1
              =hidden_field_tag :id, product.id
            =submit_tag "J'ajoute au panier", :class => 'add_to_cart'
        .clear
        .links
          %a.print{ :href => "javascript:window.print();" }
            J'imprime
          = mail_to "", "Je signale ce produit à un ami", :subject => 'Demo Forgeos signaler un produit', :class => 'signal_to_a_friend last'
      -product.product_type.product_attributes.find(:all, :conditions => { :type => 'LongtextAttribute' }).each do |attribute|
        %div{:id => attribute.access_method, :class=>'ui-tabs-panel'}
          =product.dynamic_attribute_values.find_by_attribute_id(attribute.id).value
      .clear
    .clear
    .cross-selling
      %h2
        Nous vous proposons de compléter votre tenue avec :
      %ul.cross-sells.jcarousel-list
        - product.cross_sellings.each do |product|
          %li.jcarousel-item
            %a{ :href => "/product/#{product.url}" }
              - picture = product.pictures.first
              - if picture
                = image_tag(picture.public_filename(:normal))
              - else
                %img{ :src => "/images/front_demo/product_image.jpg", :alt => "image produit" }
              %span= truncate(product.name,15,' ...')
              %span.price= "#{product.price} #{$currency.html}"
- if product.meta_info
  - content_for :title, product.meta_info.title
  - content_for :description, product.meta_info.description
  - content_for :keywords, product.meta_info.keywords
