!!!
%html{ "xml:lang" => "fr", :lang => "fr", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      Seb rocks ! 
    %link{ :href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    = stylesheet_link_tag %w(front_demo/style front_demo/jqzoom front_demo/jquery.jcarousel front_demo/jquery-ui/themes/front), :cache => 'base'
    = javascript_include_tag %w(jquery front_demo/jquery-ui front_demo/customselects front_demo/init front_demo/jquery.jcarousel.pack front_demo/jquery.jqzoom ), :cache => 'base'

  %body
    .header
      .header-content
        %a.logo{ :href => "#", :title => "retour \303\240 l'accueil" }
          %img{ :src => "/images/front_demo/logo.png" }
        %ul.list_static_pages
          %li
            %a{ :href => "#", :title => "Magasin" }
              Magasin
          %li
            %a{ :href => "#", :title => "Notre philosophie" }
              Notre philosophie
          %li
            %a{ :href => "#", :title => "Evénements" }
              Evénements
        .baseline
          Tenue de fête,
          %br
          soirée décontractée...
          %br
          La
          %em
            mode
          est de
          %span
            sortie !
          %br
        .cart
          .newsletter
            %a{ :href => "#" }
              Je m'abonne à la newsletter
          .search_box
            %label
              Je recherche un produit
            .search_form
              .search-icon
              %input.input_text{ :type => "text" }
              %input.btn_ok{ :type => "submit", :value => "ok" }
          .cart-box
            %a{ :href => "#" }
              J'accède à Mon Espace Client
            .cart-icon
              %span.opener
              %span
                =link_to_cart('Mon panier')
              %br
                ="#{@cart.total_items} articles" if !@cart.nil?
            %ul.cart-products
              -@cart.products.group_by(&:id).each do |cart_product|
                -product = cart_product[1].first
                -nb = cart_product[1].count
                %li
                  %span.li-product-name
                    = product.name
                  %span.li-product-qty
                    = "x#{nb}"
                  %span.li-product-price
                    = "#{product.price*nb} &euro;"
                  %span.clear
          .create-customer-space
            -if logged_in?
              = link_to "Bienvenue #{current_user.fullname}", "#"
            - else
              = link_to 'Je crée mon Espace Client', new_user_path
        %ul.menu
          -ProductCategory.all.each do |category|
            %li
              = link_to category.name, {:controller => 'catalog', :action => 'index', :product_category_id => category.id}
    .content
      .yield= yield

      .clear
    .footer
      .footer_categories_links
        -ProductCategory.all.each do |category|
          = link_to category.name, {:controller => 'catalog', :action => 'index', :product_category_id => category.id}
      .footer_links
        %span
          Paiement sécurisé
        %img{ :src => "/images/front_demo/master_card.png" }
        %img{ :src => "/images/front_demo/credit_card.png" }
        %img{ :src => "/images/front_demo/visa.png" }
        %img{ :src => "/images/front_demo/https.png" }
        %a{ :href => "#" }
          L'entreprise
        |
        %a{ :href => "#" }
          Services
        |
        %a{ :href => "#" }
          Livraison
        |
        %a{ :href => "#" }
          CGV
        |
        %a{ :href => "#" }
          Contact
        |
        %a{ :href => "#" }
          FAQ
        |
        %a{ :href => "#" }
          Recrutement
        |
        %a{ :href => "#" }
          Mentions légales
        |
        %a{ :href => "#" }
          Plan du site
