!!!
%html{ "xml:lang" => "fr", :lang => "fr", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title= I18n.t('project_name')
    %link{ :href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    = stylesheet_link_tag %w(front_demo/style front_demo/jqzoom front_demo/jquery.jcarousel front_demo/jquery-ui/themes/front), :cache => 'base'
    = javascript_include_tag 'jquery'
  %body
    .header
      .header-content
        %ul.list_static_pages
          -Page.find_all_by_active(true,:conditions => {:single_key => nil, :active => true}, :limit => 4).each do |page|
            %li
              =link_to page.title, "/#{page.url}"
   
        .baseline
          Tenue de fête,
          %br
          soirée décontractée...
          %br
          La
          %em
            mode
          est de
          %span
            sortie !
          %br
        .cart
          .newsletter
            -if logged_in?
              = link_to I18n.t(:disconnect).capitalize, session_path, :method => :delete
            -else
              -session[:redirect] = '/'
              = link_to I18n.t(:log_in).capitalize, '#', :id=>'login_link'
              #login_container
                = render :partial => 'sessions/new_form'
          .search_box
            %label
              Je recherche un produit
            .search_form
              .search-icon
              %input.input_text{ :type => "text" }
              %input.btn_ok{ :type => "submit", :value => "ok" }
          -if !@cart.nil?
            .cart-box
              = link_to "J'accède à Mon Espace Client", new_session_path if !logged_in?
              .cart-icon
                %span
                  =link_to_cart('Mon panier')
                %br
                  ="#{@cart.total_items} article(s)" if !@cart.nil?
                - if @cart.products.length > 0
                  %span.opener
              - if @cart.products.length > 0
                %ul.cart-products
                  -@cart.products.group_by(&:id).each do |cart_product|
                    -product = cart_product[1].first
                    -nb = cart_product[1].count
                    %li
                      %span.li-product-name
                        = truncate(product.name, 20, '...')
                      %span.li-product-qty
                        = "x#{nb}"
                      %span.li-product-price
                        = "#{product.price*nb} &euro;"
                      %span.clear
                  %li.last
                    %span.li-product-name
                      total
                    %span.li-product-qty
                      = @cart.total
                      €
          .create-customer-space
            -if logged_in?
              = link_to "Bienvenue #{current_user.fullname}", "#"
            - else
              = link_to 'Je crée mon Espace Client', new_user_path
        %ul.menu
          -ProductCategory.find_all_by_parent_id(nil, :limit => 7).each do |category|
            %li
              = link_to category.name, {:controller => 'catalog', :action => 'index', :category_name=> category.name}
    .content
      .yield= yield

      .clear
    .footer
      .footer_categories_links
        -ProductCategory.all.each do |category|
          = link_to category.name, {:controller => 'catalog', :action => 'index', :category_name => category.name}
      .footer_links
        %span
          Paiement sécurisé
        %img{ :src => "/images/front_demo/master_card.png" }
        %img{ :src => "/images/front_demo/credit_card.png" }
        %img{ :src => "/images/front_demo/visa.png" }
        %img{ :src => "/images/front_demo/https.png" }
        -Page.find_all_by_active(true, :conditions => {:single_key => nil, :active => true}).each do |page|
          =link_to page.title, page.url
          |

= javascript_include_tag 'front_demo/jquery.jcarousel.pack', :cache => false
= javascript_include_tag %w(front_demo/jquery-ui front_demo/customselects front_demo/jquery.jqzoom1.0.1 front_demo/init), :cache => 'base'
