!!! xml utf-8
!!! 1.1
%html{ 'xml:lang' => I18n.locale, :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title= yield(:title) || "#{Setting.first.name} #{I18n.t('page_not_found')}"
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %meta{ :name => 'Description', :content => yield(:description) || '' }
    %meta{ :name => 'keywords', :content => yield(:keywords) || '' }
    %link{ :href => '/images/front_demo/favicon.gif', :rel => 'shortcut icon', :type => 'image/gif' }
    = stylesheet_link_tag %w(front_demo/style front_demo/jqzoom front_demo/jquery.jcarousel front_demo/jquery-ui/themes/front), :cache => 'base'
    = javascript_include_tag 'jquery'
  %body
    .header
      .header-content
        %ul.list_static_pages
          -Page.find_all_by_active(true,:conditions => {:single_key => nil, :active => true}, :limit => 4).each do |page|
            %li= link_to page.title, "/#{page.url}"
        .baseline
        .cart
          .newsletter
            -if logged_in?
              = link_to I18n.t(:disconnect).capitalize, session_path, :method => :delete
            -else
              -#session[:redirect] = '/'
              = link_to I18n.t('log.in.action').capitalize, '#', :id=>'login_link'
              #login_container
                = render :partial => 'sessions/new_form'
          .search_box
            %label= I18n.t('front.research').capitalize
            .search_form
              .search-icon
              - form_tag(:controller => 'search') do
                = text_field_tag 'keywords', '', :class => 'input_text'
                = submit_tag I18n.t('front.search').capitalize, :class => 'btn_ok'
          -if !@cart.nil?
            .cart-box
              = link_to I18n.t('my_account_login').capitalize, login_path if !logged_in?
              .cart-icon
                %span= link_to_cart(I18n.t('my_cart').capitalize)
                %br
                = "#{@cart.total_items} article(s)" if !@cart.nil?
                - if @cart.products.length > 0
                  %span.opener
              - if @cart.products.length > 0
                %ul.cart-products
                  -@cart.products.group_by(&:id).each do |cart_product|
                    -product = cart_product[1].first
                    -nb = cart_product[1].count
                    %li
                      %span.li-product-name
                        = truncate(product.name, 20, '...')
                      %span.li-product-qty
                        = "x#{nb}"
                      %span.li-product-price
                        = "#{product.price*nb} &euro;"
                      %span.clear
                  %li.last
                    %span.li-product-name= I18n.t(:total)
                    %span.li-product-qty
                      = @cart.total
                      €
          .create-customer-space
            -if logged_in?
              = link_to "#{I18n.t(:welcome)} #{current_user.fullname}", "#"
            - else
              = link_to I18n.t(:sign_up), new_user_path
        - product_categories = ProductCategory.find_all_by_parent_id(nil, :limit => 7)
        - unless product_categories.empty?
          %ul.menu
            - product_categories.each do |category|
              %li= link_to category.name, catalog_path(:category_name=> category.name, :url => nil)
    .content
      .before_breadcrumbs
      .breadcrumbs
        .inner-breadcrumbs
          = link_to I18n.t(:home), :root
          &gt;
          = yield :title
      = yield
      .clear
    .footer
      .footer_categories_links
        - ProductCategory.all.each do |category|
          = link_to category.name, catalog_path(:category_name=> category.name, :url => nil)
      .footer_links
        %span= I18n.t('payment.safe')
        = image_tag('front_demo/master_card.png') 
        = image_tag('front_demo/credit_card.png') 
        = image_tag('front_demo/visa.png') 
        = image_tag('front_demo/https.png') 
        -Page.find_all_by_active(true, :conditions => {:single_key => nil, :active => true}).each do |page|
          =link_to page.title, {:controller => 'url_catcher', :action => 'page', :url => page.url}
          |

    = render :partial => '/layouts/analytics'
    = javascript_include_tag 'front_demo/jquery.jcarousel.pack', :cache => false
    = javascript_include_tag %w(front_demo/jquery-ui front_demo/customselects front_demo/jquery.jqzoom1.0.1 front_demo/init), :cache => 'base'
