<%= display_standard_flashes %>
<% form_for :voucher, voucher, { :id => voucher.id } do |f| %>
  <p><b><%= f.label :name %> : </b><%= f.text_field :name %></p>
  <p><b><%= f.label :code %> : </b><%= f.text_field :code %></p>
  <p><b><%= f.label :value %> : </b><%= f.text_field :value %></p>
  <p><b><%= f.label :total_min %> : </b><%= f.text_field :total_min %></p>
  <p><b><%= f.label :date_start %> : </b><%= f.date_select :date_start, :include_blank => true %></p>
  <p><b><%= f.label :date_end %> : </b><%= f.date_select :date_end, :include_blank => true %></p>
  <%= f.submit 'Save' %>
<% end %>
<% @content_for_tools << link_to('list', { :controller => 'admin/vouchers', :action => 'index' }, :class => 'house' )%>
