= display_standard_flashes
- form_for [:admin, voucher] do |f|
  %p
    %b
      = f.label :name, I18n.t('name').capitalize
      \:
    = f.text_field :name
  %p
    %b
      = f.label :code, I18n.t('code', :count => 1).capitalize
      \:
    = f.text_field :code
  %p
    %b
      = f.label :product_type_id, I18n.t('product_type.one').capitalize
      \:
    = f.select("product_type_id", ProductType.all.collect {|p| [ p.name, p.id ] }, {:include_blank => true})
  %p
    %b
      = f.label :value, I18n.t('value', :count=>1).capitalize
      \:
    = f.text_field :value
    = f.select :percent, { Currency::default.name => false, '%' => true }
  %p
    %b
      = f.label :geo_zone_id, I18n.t('geo_zone.one').capitalize
      \:
    = f.collection_select :geo_zone_id, GeoZone.all(:order => 'name'), :id, :printable_name,{:include_blank => true}
  %p
    %b
      = f.label :cumulable, I18n.t('cumulable').capitalize
      \:
    = f.check_box :cumulable
  %p
    %b
      = f.label :offer_delivery, I18n.t('offer_delivery').capitalize
      \:
    = f.check_box :offer_delivery
  %p
    %b
      = f.label :total_min, I18n.t('total_min').capitalize
      \:
    = f.text_field :total_min
  %p
    %b
      = f.label :max_use, I18n.t('max_use').capitalize
      \:
    = f.text_field :max_use
  %p
    %b
      = f.label :using_after, I18n.t('using_after').capitalize
      \:
    = f.text_field :using_after
  %p
    %b
      = f.label :date_start, I18n.t('date_start').capitalize
      \:
    = f.date_select :date_start, :include_blank => true
  %p
    %b
      = f.label :date_end, I18n.t('date_end').capitalize
      \:
    = f.date_select :date_end, :include_blank => true
  = f.submit I18n.t('save').capitalize

- content_for :tools, link_to(I18n.t('list').capitalize, admin_vouchers_path, :class => 'house')
