= display_standard_flashes
%table#table
  %thead
    %tr
      %th
        = I18n.t('name').capitalize
      %th
        = I18n.t('code', :count=>1).capitalize
      %th
        = I18n.t('value', :count=>1).capitalize
      %th
        = I18n.t('geo_zone.one').capitalize
      %th
        = I18n.t('action', :count => 2).capitalize
  %tbody
    - vouchers.each do |voucher|
      %tr
        %td
          = voucher.name
        %td
          = voucher.code
        %td
          = "#{voucher.value} #{voucher.percent ? '%' : Currency::default.html}"
        %td
          = voucher.geo_zone.nil? ? I18n.t('none').capitalize : voucher.geo_zone.printable_name
        %td
          = link_to I18n.t('show').capitalize, admin_voucher_path(voucher)
          \-
          = link_to I18n.t('edit').capitalize, edit_admin_voucher_path(voucher)
          \-
          = link_to_remote I18n.t('destroy').capitalize, :url => admin_voucher_path(voucher), :confirm => I18n.t('voucher.destroy.confirm').capitalize, :update => 'vouchers', :method => 'delete'
- content_for :tools, link_to(I18n.t('voucher.create.action').capitalize, new_admin_voucher_path, :class => 'add')

= dataTables_tag(5)