<%= display_standard_flashes %>
<table>
  <thead>
    <th>Name</th>
    <th>Code</th>
    <th>Value</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% vouchers.each do |voucher| %>
      <tr>
        <td><%= voucher.name %></td>
        <td><%= voucher.code %></td>
        <td><%= voucher.value %></td>
        <td>
          <%= link_to 'show', admin_voucher_path(voucher) %>
          <%= link_to 'edit', edit_admin_voucher_path(voucher) %>
          <%= link_to_remote 'destroy', :url => admin_voucher_path(voucher), :confirm => 'Are you sure to destroy this voucher ?', :update => 'vouchers', :method => 'delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @content_for_tools << link_to('create a voucher', new_admin_voucher_path, :class => 'add') %>
