<%= display_standard_flashes %>
<table>
  <thead>
    <th><%= I18n.t('name').capitalize %></th>
    <th><%= I18n.t('code', :count=>1).capitalize %></th>
    <th><%= I18n.t('value', :count=>1).capitalize %></th>
    <th><%= I18n.t('action', :count => 2).capitalize %></th>
  </thead>
  <tbody>
    <% vouchers.each do |voucher| %>
      <tr>
        <td><%= voucher.name %></td>
        <td><%= voucher.code %></td>
        <td><%= voucher.value %></td>
        <td>
          <%= link_to I18n.t('show').capitalize, admin_voucher_path(voucher) %> -
          <%= link_to I18n.t('edit').capitalize, edit_admin_voucher_path(voucher) %> -
          <%= link_to_remote I18n.t('destroy').capitalize, :url => admin_voucher_path(voucher), :confirm => I18n.t('voucher.destroy.confirm').capitalize, :update => 'vouchers', :method => 'delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% @content_for_tools << link_to(I18n.t('voucher.create.action').capitalize, new_admin_voucher_path, :class => 'add') %>
