<h1>Voucher</h1>
<p><b>Name :</b><%= @voucher.name %></p>
<p><b>Code :</b><%= @voucher.code %></p>
<p><b>Value :</b><%= @voucher.value %></p>
<p><b>Total min :</b><%= @voucher.total_min %></p>
<p><b>Date start :</b><%= @voucher.date_start %></p>
<p><b>Date end :</b><%= @voucher.date_end %></p>
<% @content_for_tools << link_to('list', admin_vouchers_path, :class => 'house' )%>
